.sensei-progress-bar {
	&__label {
		margin-bottom: 10px;
	}

	&__bar {
		height: 14px;
		border-radius: 10px;
		background-color: #E6E6E6;
		overflow: hidden;
	}
	&__progress {
		height: 100%;
		background-color: #0064B4;
	}
}
