.sensei-course-theme__sidebar-toggle {
	display: none;
}

@media screen and (max-width: ($breakpoint - 1)) {
	body {
		--sidebar-width: 0px;
	}
	.sensei-course-theme__focus-mode-toggle {
		display: none;
	}

	.sensei-course-theme-lesson-completion-notice {
		left: 0;
	}

	.sensei-course-theme {
		--content-padding: 18px;
		--header-height: 60px;

		&--sidebar-open {
			--header-height: 90px;
			overflow: hidden;

			.sensei-course-theme-course-progress-bar {
				margin: 0 24px;
			}

			.sensei-course-theme__header .sensei-course-theme-course-progress {
				display: block;
				position: absolute;
				left: 24px;
				top: calc( var(--header-height) - 36px);
			}

			.sensei-course-theme-course-progress-bar {
				height: 8px;
				position: absolute;
				top: calc( var(--header-height) - 12px);
				margin: 0;
				left: 24px;
				right: 24px;
			}

			.sensei-course-theme__sidebar {
				padding: 24px !important;
			}
		}

		&__header {

			transition: none!important;

			.sensei-course-theme-course-progress, .sensei-course-theme-prev-next-lesson-text {
				display: none;
			}

			.sensei-course-theme-prev-next-lesson-a {
				padding: 2px;
			}

			.wp-block-site-logo {
				&, img {
					max-height: 30px;
				}
			}

			.wp-block-sensei-lms-course-title {
				font-size: 14px;
			}

		}

		&__sidebar-toggle {
			display: block;
			width: 24px;
			height: 24px;
			background: none;
			border: none;
			padding: 0;
			color: inherit;

			svg {
				width: 24px;
				height: 24px;
				fill: currentColor;
			}

			&:hover, &:focus {
				color: var(--primary-color);
				background: none;
			}
		}

		&__sidebar {
			z-index: 90;
			background: var(--bg-color);
			left: 0 !important;
			right: 0 !important;
			border: unset !important;
			width: unset;
			transition: all 300ms;

		}

		&:not(&--sidebar-open) &__sidebar {
			bottom: 100vh;
			top: -100vh !important;
			padding: 0;
		}

		&__main-content {
			flex: 1 !important;
			margin-left: 0!important;

			padding-bottom: 82px;
			position: relative;
		}

		&-lesson-actions {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--bg-color);
			box-shadow: 0px 3px 30px rgba(25, 30, 35, 0.2);
			transition: bottom 800ms ease-in;

			padding: 12px !important;
			display: flex;
			gap: 12px;
			align-items: center;

				> * {
					flex: 1;
				}

				button {
					width: 100%;
				}

		}

		&--sidebar-open &-lesson-actions {
			transition: bottom 300ms 0ms;
			bottom: -30vh;
		}

		&.scroll-down &-lesson-actions{
			transition-delay: 200ms;
			bottom: -100px;
		}

		&.scroll-bottom &-lesson-actions {
			bottom: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.sensei-course-theme {
		&--sidebar-open &__sidebar {
			transition: all 400ms, padding-top 0ms 0ms;
		}
	}
}
