$breakpoint: 783px;

:root {
	--header-height: 65px;
	--header-progress-bar-height: 4px;
	--sidebar-width: 300px;
	--content-padding: 32px;
}

body.sensei-course-theme {
	--top-offset: var(--sensei-wpadminbar-offset, 0px);
	--full-header-height: calc(var(--header-height) + var(--top-offset));
}

.sensei-course-theme__frame {

	.sensei-block-wrapper {
		margin: 0;
	}

	section {
		margin: 0 !important;
		padding: 0 !important;
	}
}

.sensei-course-theme {

	&__header {
		margin: 0;
		position: fixed;
		left: 0;
		right: 0;
		height: var(--header-height);
		top: var(--top-offset);
		background-color: var(--bg-color);
		z-index: 100;
		display: flex;
		align-items: center;
		& > :first-child {
			flex: 1;
		}
		img {
			max-height: var(--header-height);
		}
	}

	&__header + * {
		top: var(--header-height) !important;
		position: relative;
	}

	&__spacer-flex {
		flex: 1;
	}

	&__columns {
		--max-content-size: calc(100vw - var(--sidebar-width) - 2 * var(--content-padding));
	}

	&__main-content ~ &__sidebar {
		left: unset;
		right: 0;
		border-right: unset;
		border-left: 1px solid var(--border-color);

	}

	&__main-content {
		position: relative;
		padding: 32px 0;
		margin-right: var(--sidebar-width) !important;

		// A Divi fix since it doesn't load Gutenberg block library styles.
		@at-root {
			.et_pb_pagebuilder_layout & {
				flex: 1;
			}
		}
	}

	&__sidebar ~ &__main-content {
		margin-right: unset ! important;
		margin-left: var(--sidebar-width) !important;
	}

}

