$break-wide: 1281px;
$break-large: 961px;  // admin sidebar auto folds
$break-medium: 783px; // adminbar goes big

@import '../shared/styles/variables';
@import '../shared/styles/wp-admin';
@import '../css/font-recoleta';
@import 'tasks-section/style';
@import 'sections/extensions';
@import 'sections/get-help';
@import 'sections/sensei-guides';
@import 'sections/latest-news';

@mixin white-box( $r: 2px ) {
	border-radius: $r;
	background-color: $white;
	box-shadow: 0 0 0 1px $gray-5;
}

@mixin col-width($w) {
	@media (min-width: $break-large) {
		width: calc(#{$w} / 12 * 100%);
	}
}

@font-face {
	font-family: Reforma;
	src: url('../css/fonts/Reforma1918-Blanca.otf') format('opentype');
}

.sensei-home-page {
	max-width: 1244px;
	margin: 0 auto;
	padding-right: 10px;

	@media (min-width: 783px) {
		padding-right: 20px;
	}

	color: $gray-100;

	// Adjust the position of the notices
	.components-editor-notices__snackbar {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 40px;
		padding-left: 16px;
		padding-right: 16px;

		@media (min-width: 783px) {
			left: 50px;
		}

		@media (min-width: $break-large) {
			left: 175px;
		}
	}

	.components-notice {
		background-color: #fff;

		&__content {
			display: grid;
			grid-template-columns: 1fr auto;

		}

		.components-button {
			align-self: center;
			margin-top: 0;
		}
	}

	.postbox {
		height: 100%;
	}

	.postbox .hndle {
			margin: 0;
			padding: 8px 12px;
			cursor: unset;
	}

	.postbox .inside {
		padding: 0 12px;
	}

	.sensei-home {
		.components-button {
			&.is-secondary {
				min-width: 112px;
				min-height: 36px;
				--wp-admin-theme-color: #000;
			}

			&.is-large {
				width: 100%;
				min-height: 54px;
			}
		}

		&__loader {
			height: 80vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__section {
			display: flex;
			flex-direction: column;
			width: 100%;
			transition: 0.5s max-height, 0.5s margin-bottom; // For dismissable sections.

			&--dismissed {
				max-height: 0 !important;
				margin-bottom: 0;
			}

			&--with-inner-sections {
				margin-bottom: 0;
			}

			&__title {
				margin: 0 0 17px;
			}

			&__description {
				margin: 0 0 17px;
			}

			&__body {
				flex: 1;
			}
		}

		&__notices {
			margin-bottom: 31px;

			.sensei-notice {
				margin-left: 0;
				margin-right: 0;

				&__wrapper {
					height: 100%;
				}

				&__content {
					display: flex;
					align-items: center;
				}

				&__logo {
					margin-right: 18px;
				}

				.sensei-home {
					&__link {
						display: flex;
						align-items: center;
						height: 100%;
					}
				}
			}
		}

		&__grid {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -9px;

			&__col {
				box-sizing: border-box;
				width: 100%;
				padding: 0 9px;

				@for $i from 1 to 12 {
					&.--col-#{$i} {
						@include col-width( $i );
					}
				}
			}
		}

		&__update-badge {
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 500;
			color: inherit;

			svg {
				width: 24px;
				height: 24px;
				margin-right: 5px;
			}
		}

		&__update-notification {
			@include white-box;
			padding: 17px 50px;
			border-left: solid 5px $primary;

			.sensei-home__update-badge {
				margin-left: -29px;
			}

			&__title {
				margin: 10px 0;
				font-size: 18px;
			}

			&__description {
				margin: 0 0 30px;
				font-size: 14px;
			}

			&__list {
				margin: 10px 0 30px;

				&__item {
					margin: 0;

					&::before {
						content: "- "
					}
				}
			}

			&__version-link {
				color: inherit;
			}
		}

		&__featured-list {
			@include white-box;
			padding: 15px;
			margin: 0;

			@media (min-width: $break-large) {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
			}

			@media (min-width: 1200px) {
				padding: 50px 45px;
			}

			.sensei-home__list-item {
				box-sizing: border-box;
				padding: 10px;
				margin: 0;

				@media (min-width: $break-large) {
					@include col-width(6);
					padding: 15px;
				}

				@media (min-width: 1200px) {
					@include col-width(4);
				}
			}

			.sensei-home__card {
				border-radius: 8px;
				flex-direction: column;

				&__image {
					border-radius: 8px 8px 0 0;
				}
			}

			.sensei-home__card-wrapper {
				height: 100%;
				box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
				border-radius: 8px;
			}

			&__card-wrapper, .sensei-home__card {
				height: 100%;
			}

		}

		&__small-list,
		&__large-list {
			@include white-box;
			margin: 0;

			.sensei-home__list-item {
				margin: 0;

				&:not(:last-child) {
					border-bottom: solid 1px $gray-5;
				}
			}
		}

		&__small-list {
			.sensei-home__card__image {
				display: none;
			}
		}

		&__large-list {
			&__item:first-child .sensei-home__card__image {
				border-radius: 2px 2px 0 0;
				@media (min-width: $break-large) {
					border-radius: 2px 0 0 0;
				}
			}
			&__item:last-child .sensei-home__card__image {
				@media (min-width: $break-large) {
					border-radius: 0 0 0 2px;
				}
			}
			@media (max-width: $break-large) {
				.sensei-home__card {
					flex-direction: column;
				}
			}
		}

		@media (min-width: $break-large) and (max-width: 1100px) {
			&__small-list {
				.sensei-home__card__header {
					display: block;
				}
				.sensei-home__card__new-badge {
					display: block;
					text-align: right;
					padding-left: 0;
				}
			}
		}

		@media (min-width: $break-large) {
			&__large-list {
				.sensei-home__card {
				}
				.sensei-home__card__body {

				}
				.sensei-home__card__image {
				}
				.sensei-home__card__description {

				}
				.sensei-home__extension-actions {

				}
				.sensei-home__extension-actions__details-link {

				}
			}
		}

		&__grid-list {
			padding: 0;
			margin-bottom: -15px;

			@extend .sensei-home__grid;

			.sensei-home__list-item {
				margin: 0 0 15px;

				@extend .sensei-home__grid__col;

				@media (min-width: $break-large) {
					@include col-width(6);
				}

				@media (min-width: 1200px) {
					@include col-width(4);
				}
			}

			.sensei-home__card-wrapper {
				@include white-box(2px);
				height: 100%
			}

			.sensei-home__card {
				flex-direction: column;
				&__image {
					border-radius: 2px 2px 0 0;
				}
			}
		}

		&__featured-product {
			display: flex;
			flex-direction: column-reverse;
			margin: 0 -10px 20px;
			font-size: 18px;
			font-family: Inter, sans-serif;
			line-height: 1.5;
			background-color: #26212e;

			@media (min-width: $break-medium) {
				flex-direction: row;
				margin: 20px 0;
			}

			p {
				font-size: 18px;
			}

			&__column {
				background-size: cover;
				background-position: center center;

				@media (min-width: $break-medium) {
					width: 50%;
				}
			}

			&__content {
				padding: 32px 16px;
				color: $white;

				@media (min-width: $break-medium) {
					padding: 48px;
				}

				ul {
					margin: 0;
				}

				li {
					margin: 0;

					~ li {
						margin-top: 13px;
					}

					&:before {
						content: url(../icons/checked-white.svg);
						margin-right: 10px;
					}
				}
			}

			&__header {
				display: flex;
				align-items: center;
				margin-bottom: 16px;

				@media (min-width: $break-medium) {
					margin: 0 0 24px -4px;
				}
			}

			&__description {
				max-width: 420px;

				p {
					margin: 0 0 24px;
				}
			}

			&__title {
				margin: 0;
				line-height: 1.3;
				color: $white;
				font-weight: 400;
				font-size: 24px;

				@media (min-width: $break-large) {
					font-size: 40px;
				}
			}

			&__badge {
				margin-left: 16px;
				padding: 4px 8px;
				font-size: 16px;
				line-height: 1.2;
				color: $gray-80;
				background-color: #43af99;
				border-radius: 14px;
			}

			&__card {
				margin: 24px 16px;
				padding: 48px 24px 24px;
				text-align: center;
				background-color: $white;

				@media (min-width: $break-medium) {
					margin: 54px 24px 81px;
				}

				@media (min-width: $break-wide) {
					margin: 54px 76px 81px;
					padding: 48px;
				}

				&__title {
					margin: 0 0 16px;
					font-family: Reforma, serif;
					font-size: 48px;
					font-weight: 400;
					line-height: 1.3;
				}

				&__description {
					max-width: 270px;
					margin: 0 auto 48px;
				}

				&__price {
					margin-bottom: 20px;
					font-size: 24px;
					color: #43af99;
				}

				&__button {
					max-width: 320px;
					font-size: 16px;
				}
			}
		}

		&__rotating-icon svg {
			animation: rotation 2s infinite linear;
		}

		.components-notice {
			margin: 10px 0 0;
		}

		&__quick-links {
			&__title {
				font-size: 13px;
				margin: 0;
			}

			.components-spinner {
				width: 13px;
				height: 13px;
				margin-left: 0;
			}
		}

		&__link {
			& a {
				text-decoration: unset;
			}

			&__external-icon {
				margin-left: 4px;
				vertical-align: text-bottom;
				fill: currentColor;
				width: 16px;
				height: 16px;
			}
		}
	}
}

.sensei-home-title {
	display: flex;
	margin: 31px 0;

	&__logo {
		width: 40px;
		height: 40px;
		margin-right: 12px;
		color: #43AF99;
	}

	&__logotype {
		width: 80px;
		color: #26212E;
	}
}
