
.sensei-home {
	&__notices {
		margin-bottom: 20px;

		.sensei-notice {
			margin: 0 0 12px;
			padding: 18px 24px;

			&:last-child {
				margin-bottom: 0;
			}

			&__wrapper {
				height: 100%;
			}

			&__content {
				display: flex;
				align-items: center;
			}

			.sensei-home {
				&__link {
					display: flex;
					align-items: center;
					height: 100%;
					white-space: nowrap;
				}
			}
		}
	}
}
