.sensei-home {
	&__notices {
		margin-bottom: 20px;

		.sensei-notice {
			margin: 0 0 12px;

			&:last-child {
				margin-bottom: 0;
			}

			&--is-hidden {
				display: none;
			}

			.sensei-home {
				&__link {
					white-space: nowrap;
				}
			}
		}
	}
}
