$primary: #46C8AD;
$secondary: #674399;
$link: #50575e;
$link-primary: $primary;

$gray-0: #f6f7f7;
$gray-5: #dcdcde;
$gray-10: #c3c4c7;
$gray-20: #a7aaad;
$gray-30: #8e9196;
$gray-40: #787c82;
$gray-50: #646970;
$gray-60: #50575e;
$gray-70: #3c434a;
$gray-80: #2c3338;
$gray-90: #1d2327;
$gray-100: #101517;
$gray: #646970;

$text_primary: $gray-80;
$text_secondary: $gray-60;

$white: #ffffff;

$alert-red: #d94f4f;

$upsell: #43af99;

$notice-error: #d63638;
$notice-warning: #dba617;
$notice-info: #72aee6;
$notice-success: #43af99;

$gap-largest: 40px;
$gap-larger: 36px;
$gap-large: 24px;
$gap: 16px;
$gap-small: 12px;
$gap-smaller: 8px;
$gap-smallest: 4px;
