@import 'variables';

@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/animations';
@import '~@wordpress/base-styles/z-index';
@import '~@wordpress/components/src/style';

body.sensei-color {

	$button: $primary;
	$button-shade-10: darken($button, 10%);
	$button-shade-20: darken($button, 20%);

	.components-button {

		&.is-primary {
			background: $button;
			border-color: transparent;
		}

		&.is-primary:hover:not(:disabled) {
			background: $button-shade-10;
		}

		&.is-primary:focus:not(:disabled) {
			background: $button-shade-10;
			border-color: $button-shade-20;
		}

		&.is-primary:active:not(:disabled) {
			background: $button-shade-20;
			border-color: $button-shade-20;
		}

		&.is-primary:focus:not(:disabled) {
			box-shadow: inset 0 0 0 1px #fff, 0 0 0 1.5px $button;
		}

		&.is-primary:disabled, &.is-primary:disabled:active:enabled, &.is-primary[aria-disabled='true'], &.is-primary[aria-disabled='true']:enabled, &.is-primary[aria-disabled='true']:active:enabled {
			color: lighten($button, 40%);
			background: lighten($button, 10%);
			border-color: lighten($button, 10%);
		}

		&.is-primary:disabled:focus:enabled, &.is-primary:disabled:active:enabled:focus:enabled, &.is-primary[aria-disabled='true']:focus:enabled, &.is-primary[aria-disabled='true']:enabled:focus:enabled, &.is-primary[aria-disabled='true']:active:enabled:focus:enabled {
			box-shadow: 0 0 0 1px #fff, 0 0 0 3px $button;
		}

		&.is-primary.is-busy, &.is-primary.is-busy:disabled, &.is-primary.is-busy[aria-disabled='true'] {
			background-image: linear-gradient(-45deg, $button 28%, $button-shade-20 28%, $button-shade-20 72%, $button 72%);
			border-color: $button;
		}

		&.is-secondary:active:not(:disabled), &.is-tertiary:active:not(:disabled) {
			color: $button-shade-20;
			box-shadow: none;
		}

		&.is-secondary:hover:not(:disabled), &.is-tertiary:hover:not(:disabled) {
			color: $button-shade-10;
			box-shadow: inset 0 0 0 1px $button-shade-10;
		}

		&.is-secondary {
			box-shadow: inset 0 0 0 1px $button;
			color: $button;
		}

		&.is-tertiary {
			color: $button;
		}

		&.is-tertiary:focus:not(:disabled) {
			box-shadow: 0 0 0 1.5px $button;
		}
	}

	a, .button-link, .components-button.is-link {
		color: $link;

		&:hover,
		&:active {
			color: lighten($link, 20%);
		}

		&:focus {
			color: darken($link, 20%);
		}

		&.link__color-primary {
			color: $link-primary;

			&:hover,
			&:active {
				color: lighten($link-primary, 20%);
			}

			&:focus {
				color: darken($link-primary, 20%);
			}
		}

	}

	.components-checkbox-control__input[type='checkbox'] {

		border: 2px solid $gray-50;

		&:checked {
			background-color: $primary;
			border-color: $primary;
		}

		&:focus {
			box-shadow: 0 0 2px rgba($primary, .5);
			border-color: $primary;
		}

	}

	.components-checkbox-control__checked {
		transform: scale(0.75);
	}

	.components-text-control__input {
		padding: 6px 8px;
	}

	input[type='text'], input[type='email'] {
		&:focus {
			border-color: $primary;
			box-shadow: 0 0 0 1px $primary;
		}
	}

	.woocommerce-stepper {

		&__step.is-complete, &__step.is-active {
			.woocommerce-stepper__step-icon {
				background: $primary;
			}
		}
	}

}
