@import 'variables';

.button {
	background-color: transparent;
	border-color: $primary;
	color: $primary;
	padding: 6px 12px;
	border-radius: 2px;

	&:hover,
	&:active {
		color: lighten($primary, 5%);
		border-color: lighten($primary, 5%);
	}

	&:focus {
		color: darken($primary, 5%);
		border-color: darken($primary, 5%);
	}
}

.button.button-primary {
	background-color: $primary;
	border-color: $primary;
	color: #fff;

	&:hover,
	&:active {
		background-color: lighten($primary, 5%);
		border-color: lighten($primary, 5%);
	}

	&:focus {
		background-color: darken($primary, 5%);
		border-color: darken($primary, 5%);
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px $primary;
	}
}

.button.button-secondary {
	&:hover, &:active {
		background-color: transparent;
	}

	&:focus {
		box-shadow: 0 0 0 1px $primary;
	}
}

input[type=radio],
input[type=text] {
	&:focus {
		border-color: $primary;
		box-shadow: 0 0 0 1px $primary;
	}
}