@import 'variables';

.components-button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px $primary;
	color: $primary;
	padding: 6px 12px;

	&.has-icon {
		padding: 6px;
	}

	&:hover,
	&:active {
		color: lighten($primary, 5%);
		box-shadow: inset 0 0 0 1px lighten($primary, 5%);
	}

	&:focus {
		color: darken($primary, 5%);
		box-shadow: inset 0 0 0 1px darken($primary, 5%);
	}
}

.components-button.is-primary {
	background-color: $primary;
	box-shadow: inset 0 0 0 1px $primary;
	color: #fff;
	&:not(:disabled) {
		&:hover,
		&:active {
			background-color: lighten($primary, 5%);
			box-shadow: inset 0 0 0 1px lighten($primary, 5%);
		}

		&:focus {
			background-color: darken($primary, 5%);
			box-shadow: inset 0 0 0 1px darken($primary, 5%);
		}

		&:hover,
		&:active,
		&:focus {
			color: #fff;
		}
	}
	&:disabled {
		color: lighten($primary, 10%);
	}
}

.components-button.is-secondary {
	&:not(:disabled) {
		&:hover, &:active {
			background-color: transparent;
			color: darken($primary, 10%);
			box-shadow: inset 0 0 0 1px darken($primary, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 1px $primary;
		}
	}
}

input[type=radio],
input[type=text] {
	&:focus {
		border-color: $primary;
		box-shadow: 0 0 0 1px $primary;
	}
}
