@import 'variables';

@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/animations';
@import '~@wordpress/base-styles/z-index';

// It imports the dependencies from @import '~@wordpress/components/src/style',
// excepts './date-time/style.scss' that contains an issue and we don't use that.
@import '~@wordpress/components/src/animate/style.scss';
@import '~@wordpress/components/src/angle-picker-control/style.scss';
@import '~@wordpress/components/src/autocomplete/style.scss';
@import '~@wordpress/components/src/base-control/style.scss';
@import '~@wordpress/components/src/button-group/style.scss';
@import '~@wordpress/components/src/button/style.scss';
@import '~@wordpress/components/src/checkbox-control/style.scss';
@import '~@wordpress/components/src/circular-option-picker/style.scss';
@import '~@wordpress/components/src/color-indicator/style.scss';
@import '~@wordpress/components/src/color-picker/style.scss';
@import '~@wordpress/components/src/custom-gradient-picker/style.scss';
@import '~@wordpress/components/src/custom-select-control/style.scss';
@import '~@wordpress/components/src/dashicon/style.scss';
@import '~@wordpress/components/src/dimension-control/style.scss';
@import '~@wordpress/components/src/disabled/style.scss';
@import '~@wordpress/components/src/draggable/style.scss';
@import '~@wordpress/components/src/drop-zone/style.scss';
@import '~@wordpress/components/src/dropdown/style.scss';
@import '~@wordpress/components/src/dropdown-menu/style.scss';
@import '~@wordpress/components/src/external-link/style.scss';
@import '~@wordpress/components/src/focal-point-picker/style.scss';
@import '~@wordpress/components/src/font-size-picker/style.scss';
@import '~@wordpress/components/src/form-toggle/style.scss';
@import '~@wordpress/components/src/form-token-field/style.scss';
@import '~@wordpress/components/src/guide/style.scss';
@import '~@wordpress/components/src/higher-order/navigate-regions/style.scss';
@import '~@wordpress/components/src/menu-group/style.scss';
@import '~@wordpress/components/src/menu-item/style.scss';
@import '~@wordpress/components/src/menu-items-choice/style.scss';
@import '~@wordpress/components/src/modal/style.scss';
@import '~@wordpress/components/src/notice/style.scss';
@import '~@wordpress/components/src/panel/style.scss';
@import '~@wordpress/components/src/placeholder/style.scss';
@import '~@wordpress/components/src/popover/style.scss';
@import '~@wordpress/components/src/radio-control/style.scss';
@import '~@wordpress/components/src/resizable-box/style.scss';
@import '~@wordpress/components/src/responsive-wrapper/style.scss';
@import '~@wordpress/components/src/sandbox/style.scss';
@import '~@wordpress/components/src/scroll-lock/style.scss';
@import '~@wordpress/components/src/select-control/style.scss';
@import '~@wordpress/components/src/snackbar/style.scss';
@import '~@wordpress/components/src/spinner/style.scss';
@import '~@wordpress/components/src/tab-panel/style.scss';
@import '~@wordpress/components/src/text-control/style.scss';
@import '~@wordpress/components/src/textarea-control/style.scss';
@import '~@wordpress/components/src/tip/style.scss';
@import '~@wordpress/components/src/toggle-control/style.scss';
@import '~@wordpress/components/src/toolbar/style.scss';
@import '~@wordpress/components/src/toolbar-button/style.scss';
@import '~@wordpress/components/src/toolbar-group/style.scss';
@import '~@wordpress/components/src/tooltip/style.scss';
@import '~@wordpress/components/src/visually-hidden/style.scss';


body.sensei-color {

	.components-button.is-primary {
		&,
		&:hover,
		&:active,
		&:focus,
		&:disabled {
			color: #000;
		}
		&:disabled {
			background-color: rgba($primary, 0.7);
		}
		&.is-busy {
			background-size: 100px 100%;
		}
	}

	.components-button {
		justify-content: center;
	}

	a, .button-link, .components-button.is-link {
		&.link__color-secondary {
			color: $link;

			&:hover,
			&:active {
				color: lighten($link, 20%);
			}

			&:not(.components-button):focus {
				color: darken($link, 20%);
				box-shadow: 0 0 0 1px $link-primary, 0 0 2px 1px rgba($link-primary, 0.8);
			}
		}

		&.link__color-primary {
			color: $link-primary;

			&:hover,
			&:active {
				color: lighten($link-primary, 20%);
			}

			&:focus {
				color: darken($link-primary, 20%);
			}
		}

	}

	.components-checkbox-control__input[type='checkbox'] {

		border: 2px solid $gray-50;

		&:checked {
			background-color: $primary;
			border-color: $primary;
		}

		&:focus {
			box-shadow: 0 0 2px rgba($primary, .5);
			border-color: $primary;
		}

	}

	.components-checkbox-control__checked {
		transform: scale(0.75);
	}

	.components-text-control__input {
		padding: 6px 8px;
	}

	input[type='text'], input[type='email'] {
		&:focus {
			border-color: $primary;
			box-shadow: 0 0 0 1px $primary;
		}
	}


}
