.DS_Store
.env
.idea
.cache
.wp-env.override.json
assets/dist
build
diffs
hookdocs
node_modules/*
vendor/*
tests/images/test-*
tests/e2e/screenshots
test-results/
playwright-report/
/*.zip
/coverage/
test-results/
playwright-report/
