.DS_Store
.env
.idea
.cache
.phpunit.result.cache
.wp-env.override.json
assets/dist
build
diffs
hookdocs
node_modules/
tests/images/test-*
vendor/
tests/e2e/screenshots
/*.zip
/coverage/
coverage.xml
tests/e2e-playwright/contexts/*
*.tsbuildinfo
playwright-report/
.vscode
