sudo: false
dist: trusty
language: php
notifications:
  email:
    on_success: never
    on_failure: never
  slack:
    rooms:
      - secure: DOpF7wER9onzQOw2nAU0jgsmfHmS7UhbMnvvzcMYD+wzWTVT6ccTG9yc93jzUZFlUeVTuDAMa/ws04qwc/an4bIU5Baxg+Hajj9iMMO3Rwft4jgGEgqUgSGmxYt/QYyv5ujV/3H2Yb/SLqa9d9ryGob3Kh263WG6/7jTuIzz5T8=
    on_success: change
    on_failure: always
branches:
  only:
  - master
cache:
  directories:
  - vendor
  - "$HOME/.composer/cache"
matrix:
  include:
  - php: "7.2"
    env: WP_VERSION=latest
  - php: "7.1"
    env: WP_VERSION=latest
  - php: "7.0"
    env: WP_VERSION=latest
  - php: "5.6"
    env: WP_VERSION=4.4
  - php: "5.6"
    env: WP_VERSION=latest
  - php: "5.6"
    env: WP_VERSION=trunk
  - php: "5.3"
    env: WP_VERSION=latest
    dist: precise
before_script:
- export PATH="$HOME/.composer/vendor/bin:$PATH"
- |
  if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
    phpenv config-rm xdebug.ini
  else
    echo "xdebug.ini does not exist"
  fi
- |
  if [[ ! -z "$WP_VERSION" ]] ; then
    bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    composer global require "phpunit/phpunit=4.8.*|5.7.*"
  fi
script:
- |
  if [[ ! -z "$WP_VERSION" ]] ; then
    phpunit
    WP_MULTISITE=1 phpunit
  fi