source: ./

destination: docs.woocommerce.com/images/sensei-apidocs

templateConfig: apigen/theme-sensei/config.neon

# list of scanned file extensions (e.g. php5, phpt...)
extensions: [php]

# directories and files matching this file mask will not be parsed
exclude:
    - api/
    - inc/
    - node_modules/
    - sensei-apidocs/
    - docs.woocommerce.com/
    - tmp/
    - tests/
    - .sass-cache/
    - apigen/
    - vendor/
    - lang/

# character set of source files; if you use only one across your files, we recommend you name it
charset: [UTF-8]

# elements with this name prefix will be considered as the "main project" (the rest will be considered as libraries)
main: sensei

# title of generated documentation
title: Sensei Developer Reference

# base url used for sitemap (useful for public doc)
baseUrl: http://docs.woocommerce.com/sensei-apidocs/

# choose ApiGen template theme
templateTheme: theme-sensei

# generate documentation for PHP internal classes
php: false

# generate highlighted source code for elements
sourceCode: true

# generate tree view of classes, interfaces, traits and exceptions
tree: true

# generate documentation for deprecated elements
deprecated: true

# generate list of tasks with @todo annotation
todo: false

# add link to ZIP archive of documentation
download: false
