version: '3.3'

services:

  wordpress-www:
    volumes:
      # This path is relative to the first config file
      # which is in node_modules/@woocommerce/e2e/env
      - "../../../:/var/www/html/wp-content/plugins/sensei"

  wordpress-cli:
    volumes:
      - "../../../:/var/www/html/wp-content/plugins/sensei"
