<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        syntaxCheck="true"
>
    <php>
        <server name='HTTP_HOST' value='http://localhost' />
        <server name="SERVER_NAME" value="http://foo.bar"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REMOTE_ADDR" value="127.1.2.3"/>
    </php>
    <testsuites>
        <testsuite name="Sensei Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/phpcs_standards</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./apigen/</directory>
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./tmp/</directory>
        </blacklist>
    </filter>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <!-- disable logging for speed purposes
    <logging>
       <log type="coverage-clover" target="./clover.xml" charset="UTF-8" />
   </logging>
   -->
</phpunit>
