<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>
    <php>
        <server name='HTTP_HOST' value='http://localhost' />
        <server name="SERVER_NAME" value="http://foo.bar"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REMOTE_ADDR" value="127.1.2.3"/>
        <const name="PHPUNIT_SENSEI_TESTSUITE" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Sensei Test Suite">
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./includes/lib/usage-tracking/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./includes/</directory>
			<exclude>
				<directory suffix=".php">./includes/*/views/</directory>
				<directory suffix=".php">./includes/*/*/views/</directory>
				<directory suffix=".php">./includes/3rd-party/</directory>
				<directory suffix=".php">./includes/block-patterns/</directory>
				<directory suffix=".php">./includes/internal/emails/patterns/</directory>
				<directory suffix=".php">./includes/internal/emails/views/</directory>
				<file>./includes/data-port/class-sensei-import-job-cli.php</file>
				<file>./includes/email-signup/template.php</file>

			</exclude>
        </whitelist>
    </filter>
    <!-- disable logging for speed purposes
    <logging>
       <log type="coverage-clover" target="./clover.xml" charset="UTF-8" />
   </logging>
   -->
</phpunit>
