@import '~@wordpress/base-styles/breakpoints';
@import '../../shared/styles/variables';
@import './outline-block/outline-placeholder.scss';

$dark-gray: #1a1d20;
$item-padding: 20px;

body.editor-styles-wrapper,
body .editor-styles-wrapper,
.editor-styles-wrapper .block-editor {
	.wp-block-sensei-lms-course-outline {
		padding: 0 1em;
		margin: 0 -1em;
	}

	textarea.wp-block-sensei-lms-course-outline-module__title-input {
		color: inherit;
		background: none;

		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}

	.wp-block-sensei-lms-course-outline-lesson .wp-block-sensei-lms-course-outline-lesson {

		&__input {
			margin: 20px 16px;
			background: none;

			@at-root {
				.block-editor-block-preview__content-iframe & {
					height: 29px !important; // Force height in the thumbnails - issue with `react-autosize-textarea`.
				}
			}
		}

		&__post-status {
			position: absolute;
			bottom: 4px;
			left: 56px;
			font-size: 12px;
			font-weight: 600;
			color: inherit;
			opacity: 0.5;
			border-radius: 6px;
		}
	}

	textarea.wp-block-sensei-lms-course-outline-lesson__input {
		color: inherit;

		&::placeholder {
			color: #a5a5a5;
		}
	}

	.wp-block-sensei-lms-course-outline-status-control {
		.components-base-control__help {
			margin-top: 10px;
		}
	}

	.block-editor-block-list__block[data-type="sensei-lms/course-outline-lesson"] {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.components-toolbar-group, .components-toolbar {
	.wp-block-sensei-lms-course-outline-lesson__edit {
		align-items: center;
		display: flex;
		font-size: 15px;
		padding: 0.9em 0;
	}
}

.components-disabled {
	label {
		color: #828282;
	}
}
