@import '~@wordpress/base-styles/breakpoints';
@import '../../shared/styles/variables';

$dark-gray: #1a1d20;
$item-padding: 20px;

body,
.block-editor {
	.wp-block-sensei-lms-course-outline {
		padding: 0 1em;
		margin: 0 -1em;

		/* Placeholder */
		&__placeholder-items {
			@media (min-width: $break-small) {
				display: flex;
				gap: 12px;
			}
		}

		&__placeholder-item {
			padding: $item-padding $item-padding 0;

			&.is-blank {
				background-color: $gray-0;
			}

			&.is-ai {
				background-color: $upsell;

				> div:first-child {
					display: flex;

					.wp-block-sensei-lms-course-outline__placeholder-item-intro {
						flex: 1 1;
					}
				}
			}

			&-intro {
				font-size: 1.125rem;
				line-height: 1.222222222222222;
				margin: 0;
				padding: 0 20px 0 0;
			}

			&-details {
				font-size: 0.75rem;
				line-height: 1.333333333333333;
				padding-left: 20px;

				li {
					margin: 8px 0;
				}
			}

			&-image {
				display: block;
			}

			&-caption {
				background-color: #fff;
				display: block;
				margin-left: -$item-padding;
				margin-right: -$item-padding;
				padding-top: 8px;
				text-align: center;
				width: calc(100% + 2 * $item-padding);

				@media (min-width: $break-small) {
					align-self: flex-end;
				}
			}

			@media (min-width: $break-small) {
				display: flex;
				flex: 1;
				flex-wrap: wrap;
			}
		}
	}

	textarea.wp-block-sensei-lms-course-outline-module__title-input {
		color: inherit;
		background: none;

		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}

	.wp-block-sensei-lms-course-outline-lesson .wp-block-sensei-lms-course-outline-lesson {

		&__input {
			margin: 20px 16px;
			background: none;

			@at-root {
				.block-editor-block-preview__content-iframe & {
					height: 29px !important; // Force height in the thumbnails - issue with `react-autosize-textarea`.
				}
			}
		}

		&__post-status {
			position: absolute;
			bottom: 4px;
			left: 56px;
			font-size: 12px;
			font-weight: 600;
			color: inherit;
			opacity: 0.5;
			border-radius: 6px;
		}
	}

	textarea.wp-block-sensei-lms-course-outline-lesson__input {
		color: inherit;

		&::placeholder {
			color: #a5a5a5;
		}
	}

	.wp-block-sensei-lms-course-outline-status-control {
		.components-base-control__help {
			margin-top: 10px;
		}
	}

	.block-editor-block-list__block[data-type="sensei-lms/course-outline-lesson"] {
		margin-top: 0;
		margin-bottom: 0;
	}

	.components-toolbar-group, .components-toolbar {
		.wp-block-sensei-lms-course-outline-lesson__edit {
			align-self: center;
			font-size: 15px;
			padding: 0.9em 0;
		}
	}
}

.components-disabled {
	label {
		color: #828282;
	}
}
