@import '~@wordpress/base-styles/breakpoints';
@import '../../shared/styles/variables';

$dark-gray: #1a1d20;
$item-padding: 20px;

body .editor-styles-wrapper,
.editor-styles-wrapper .block-editor {
	.wp-block-sensei-lms-course-outline {
		padding: 0 1em;
		margin: 0 -1em;

		/* Placeholder */
		&__placeholder-items {
			.wp-block-sensei-lms-course-outline__placeholder-item {
				margin: 0 0 20px;
				padding: $item-padding $item-padding 0;

				&.is-blank {
					background-color: $gray-0;
				}

				&.is-ai {
					background-color: $upsell;

					> div:first-child {
						display: flex;
						gap: 20px;
						width: 100%;

						.wp-block-sensei-lms-course-outline__placeholder-item-intro {
							flex: 1 1;
						}
					}
				}

				&-intro {
					font-size: 18px;
					line-height: 1.222222222222222;
					margin: 0;
					padding: 0;
				}

				&-details {
					font-size: 12px;
					line-height: 1.333333333333333;
					padding-left: 20px;
					width: 100%;

					li {
						margin: 8px 0;
					}
				}

				&-lessons {
					font-size: 12px;
					line-height: 1.333333333333333;
					list-style-type: none;
					max-height: 103px; /* Height of ai.png */
					max-width: 304px; /* Width of ai.png */
					padding-left: 0;
					width: 100%;

					li {
						border: solid 1px $gray-5;
						border-radius: 2px;
						line-height: 20px;
						padding: 20px;

						&:first-child {
							margin-bottom: 12px;
						}
					}
				}

				&-image {
					display: block;
				}

				&-caption {
					background-color: #fff;
					display: block;
					margin-left: -$item-padding;
					margin-right: -$item-padding;
					padding-top: 8px;
					text-align: center;
					width: calc(100% + 2 * $item-padding);

					@media (min-width: $break-small) {
						align-self: flex-end;
					}
				}

				@media (min-width: $break-small) {
					display: flex;
					flex: 1;
					flex-wrap: wrap;
					margin-bottom: 0;
				}
			}

			@media (min-width: $break-small) {
				display: flex;
				gap: 12px;
			}
		}
	}

	textarea.wp-block-sensei-lms-course-outline-module__title-input {
		color: inherit;
		background: none;

		&::placeholder {
			color: inherit;
			opacity: 0.5;
		}
	}

	.wp-block-sensei-lms-course-outline-lesson .wp-block-sensei-lms-course-outline-lesson {

		&__input {
			margin: 20px 16px;
			background: none;

			@at-root {
				.block-editor-block-preview__content-iframe & {
					height: 29px !important; // Force height in the thumbnails - issue with `react-autosize-textarea`.
				}
			}
		}

		&__post-status {
			position: absolute;
			bottom: 4px;
			left: 56px;
			font-size: 12px;
			font-weight: 600;
			color: inherit;
			opacity: 0.5;
			border-radius: 6px;
		}
	}

	textarea.wp-block-sensei-lms-course-outline-lesson__input {
		color: inherit;

		&::placeholder {
			color: #a5a5a5;
		}
	}

	.wp-block-sensei-lms-course-outline-status-control {
		.components-base-control__help {
			margin-top: 10px;
		}
	}

	.block-editor-block-list__block[data-type="sensei-lms/course-outline-lesson"] {
		margin-top: 0;
		margin-bottom: 0;
	}

	.components-toolbar-group, .components-toolbar {
		.wp-block-sensei-lms-course-outline-lesson__edit {
			align-self: center;
			font-size: 15px;
			padding: 0.9em 0;
		}
	}
}

.components-disabled {
	label {
		color: #828282;
	}
}
