.wp-block-sensei-lms-course-outline {
	&__clean-input {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		box-shadow: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		border: none;
		background-color: transparent;

		&:focus {
			border: none;
			outline: none;
		}
	}

	.block-editor-block-list__block {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.wp-block-sensei-lms-course-outline-module {
	border: solid 1px #1A1D20;

	&__name {
		padding: 25px;
		background-color: #1A1D20;
		color: #FFF;
		font-weight: bold;
	}

	&__description {
		padding: 25px;
		color: #1A1D20;
		font-size: 14px;
	}

	&__lessons-title {
		padding: 5px 25px;
		background-color: #EEE;
		font-size: 11px;
		font-weight: 600;
		color: #1E1E1E;
		text-transform: uppercase;
	}
}

.wp-block-sensei-lms-course-outline-lesson {
	display: flex;
	align-items: center;
	padding: 20px 25px;
	color: #1A1D20;
	font-size: 16px;
	text-decoration: none;

	&::before {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		flex: 0 0 24px;
		margin-right: 24px;
		border: solid 1px #A7AAAD;
		background-color: #DCDCDE;
		border-radius: 50%;
	}
}
