$dark-gray: #1a1d20;
.block-editor {
	.wp-block-sensei-lms-course-outline {

		&__placeholder {
			.components-button {
				margin-right: 12px;
				margin-bottom: 12px;
			}
		}
	}

	.wp-block-sensei-lms-course-outline-module {
		&.is-style-minimal {
			.wp-block-sensei-lms-course-outline-module__header {
				margin: 0 4px;
				padding: 1rem calc(1rem - 4px);
				border-bottom: 4px solid $dark-gray;
			}
		}

		&__title-input {
			background: none;
		}
	}

	.wp-block-sensei-lms-course-outline-lesson {

		&__input {
			margin: 20px 16px;
			background: none;
		}

		&__post-status {
			position: absolute;
			bottom: 4px;
			left: 56px;
			font-size: 12px;
			font-weight: 600;
			color: inherit;
			opacity: 0.5;
			border-radius: 6px;
		}
	}

	.wp-block-sensei-lms-course-outline-status-control {
		.components-base-control__help {
			margin-top: 10px;
		}
	}

	.block-editor-block-list__block[data-type="sensei-lms/course-outline-lesson"] {
		margin-top: 0;
		margin-bottom: 0;
	}
}
