$dark-gray: #1a1d20;

$outline: '.wp-block-sensei-lms-course-outline';
.wp-block-sensei-lms-course-outline {

	&.is-style-default {
		border: solid 1px $dark-gray;
	}

	&__clean-heading {
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		flex-basis: 82%;
		&:before, &:after {
			content: none;
		}
	}

	&__arrow {
		fill: #FFF;
		flex-basis: 4%;
		margin-left: auto;
		cursor: pointer;
		height: 24px;
		font-size: 24px;

		&.collapsed {
			display: none;
		}
	}
}

.wp-block-sensei-lms-course-outline-module {
	$block: '.wp-block-sensei-lms-course-outline-module';

	&.is-style-default, &.is-style-minimal {

		#{$block}__progress-indicator {
			border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 10%;
			flex-basis: 14%;
			background-color: #FFF;
			margin-right: 20px;

			&__text {
				font-weight: normal;
				margin: 0 20px;
				font-size: 14px;
				color: black;
				white-space: nowrap;
				text-transform: uppercase;
			}

			&.completed {
				background-color: #1FD25A;
			}
		}

		#{$block}__name {
			padding: 1em;
			font-weight: bold;
			display: flex;
			align-items: center;
		}

		h2 {
			font-family: inherit;
			font-size: inherit;
			color: inherit;
			line-height: inherit;
			margin: 0;
		}

		#{$block}__description {
			padding: 1em;
			color: $dark-gray;
		}

		#{$block}__lessons-title {
			padding: 5px 25px;
			background-color: #EEE;
			font-size: 11px;
			font-weight: 600;
			color: $dark-gray;
			text-transform: uppercase;
		}
	}

	&.is-style-default {

		#{$block}__name {
			background-color: $dark-gray;
			color: #FFF;
		}

		#{$block}__description {
			padding: 25px;
			color: $dark-gray;
			font-size: 14px;
		}

		#{$block}__lessons-title {
			background-color: #EEE;
		}
	}

	&.is-style-minimal {

		#{$block}__name__minimal-border {
			display: block;
			border: none;
			height: 4px;
		}
	}
}

.wp-block-sensei-lms-course-outline-lesson {
	display: flex;
	align-items: center;
	padding: 20px 25px;
	margin: 1px 0;

	> a {
		color: inherit;
	}

	.entry-content & {
		margin: 0;
	}

	font-size: 16px;

	&::before {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		flex: 0 0 24px;
		margin-right: 24px;
		border: solid 1px #A7AAAD;
		background-color: #DCDCDE;
		border-radius: 50%;
	}

	&.completed::before {
		content: '✓';
		border: solid 1px #179942;
		background-color: #1FD25A;
		color: white;
		line-height: 22px;
		text-align: center;
	}
}

.wp-block-sensei-lms-collapsible {

	&.collapsed {
		display: none;
	}

	&.animated {
		max-height: 2000px;
		transition: max-height 0.5s ease-in;
		overflow: hidden;

		&.collapsed {
			display: block;
			max-height: 0;
			transition: max-height 0.5s cubic-bezier(0, 1, 0.35, 1);
		}
	}
}

#inspector-module-status-control__help {
	margin-top: 15px;
}

/**
 * Overrides
 */
.editor-styles-wrapper .wp-block-sensei-lms-course-outline .wp-block {
	h1,
	h2,
	h3 {
		@extend .wp-block-sensei-lms-course-outline__clean-heading
	}
}