$dark-gray: #1a1d20;
.block-editor {
	.wp-block-sensei-lms-course-outline {
		&__clean-input[type='text'] {
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
			box-shadow: none;
			font-family: inherit;
			font-size: inherit;
			color: inherit;
			line-height: inherit;
			border: none;
			background-color: transparent;

			&:focus {
				border: none;
				outline: none;
				box-shadow: none;
				color: inherit;
			}
		}

		.block-editor-block-list__block {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.wp-block-sensei-lms-course-outline-module {
		&.is-style-minimal {
			.wp-block-sensei-lms-course-outline-module__name {
				margin: 0 4px;
				padding: 1rem calc(1rem - 4px);
				border-bottom: 4px solid $dark-gray;
			}
		}
	}
	.wp-block-sensei-lms-course-outline-lesson {

		&__input[type="text"] {
			margin: 20px 25px;
		}

		&__draft,
		&__unsaved {
			font-size: 12px;
			font-weight: bold;
			padding: 0 10px;
			margin: 0 2px;
			border-radius: 6px;
			text-transform: uppercase;
		}
	}
}
