$dark-gray: #1a1d20;

.wp-block-sensei-lms-course-outline {

	&__clean-heading {
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		flex: 1;
		&:before, &:after {
			content: none;
		}
	}

	&__progress-indicator {
		border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10%;
		background-color: #FFF;
		margin: 0 20px;

		&__text {
			font-weight: normal;
			margin: 0 20px;
			font-size: 14px;
			color: black;
			white-space: nowrap;
			text-transform: uppercase;
		}

		&.completed {
			background-color: #1FD25A;
		}
	}

	&__arrow[type="button"] {
		display: block;
		padding: 0;
		margin: 0 10px;
		background: 0;
		border: 0;
		color: #FFF;
		cursor: pointer;
		height: 24px;
		font-size: 24px;

		&:hover, &:focus {
			text-decoration: none;
		}

		&.collapsed {
			display: none;
		}
	}
}

.wp-block-sensei-lms-course-outline-module {
	border: solid 1px $dark-gray;
	margin: 1.5em 0;

	&__name {
		padding: 15px 15px 15px 25px;
		background-color: $dark-gray;
		font-size: 24px;
		font-weight: bold;
		color: #FFF;
		display: flex;
		align-items: center;
	}

	&__description {
		padding: 25px;
		color: $dark-gray;
		font-size: 14px;
	}

	&__lessons-title {
		padding: 5px 25px;
		background-color: #EEE;
		font-size: 11px;
		font-weight: 600;
		color: $dark-gray;
		text-transform: uppercase;
	}
}

.wp-block-sensei-lms-course-outline-lesson {
	display: flex;
	align-items: center;
	padding: 20px 25px;
	> a {
		color: inherit;
	}

	.entry-content & {
		margin: 0;
	}
	font-size: 16px;

	&__status {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 24px;
		border: solid 1px currentColor;
		border-radius: 50%;
		flex-shrink: 0;
		fill: currentColor;
	}

	&.completed {
		.wp-block-sensei-lms-course-outline-lesson__status {
			background-image: url( 'data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9 18.6L3.5 13l1-1L9 16.4l9.5-9.9 1 1z" fill="%23FFFFFF" /></svg>' );
			border-color: #179942;
			background-color: #1fd25a;
		}
	}
}

.wp-block-sensei-lms-collapsible {
	&.animated {
		opacity: 1;
		overflow: hidden;
		transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
	}

	&.collapsed {
		opacity: 0;
	}
}

#inspector-module-status-control__help {
	margin-top: 15px;
}

/**
 * Overrides
 */
.editor-styles-wrapper .wp-block-sensei-lms-course-outline .wp-block {
	h1,
	h2,
	h3 {
		@extend .wp-block-sensei-lms-course-outline__clean-heading
	}
}
