<!-- wp:pattern {"slug":"sensei-course-theme/header"} /-->

<!-- wp:group {"className":"sensei-course-theme__quiz__main-content sensei-version\u002d\u002d4-16-2", "tagName": "main"} -->
<main class="wp-block-group sensei-course-theme__quiz__main-content sensei-version--4-16-2">
	<!-- wp:sensei-lms/quiz-back-to-lesson /-->
	<!-- wp:post-title {"level": 1} /-->
	<!-- wp:sensei-lms/course-theme-notices /-->
	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"className":"sensei-course-theme__quiz__footer_wrapper sensei-course-theme__frame"} -->
<div class="wp-block-group sensei-course-theme__quiz__footer__wrapper sensei-course-theme__frame">
	<!-- wp:group {"className":"sensei-course-theme__quiz__footer alignwide"} -->
	<div class="wp-block-group sensei-course-theme__quiz__footer alignwide">
		<!-- wp:sensei-lms/quiz-actions /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
