<!-- wp:columns {"className":"sensei-course-theme__quiz__header sensei-course-theme__frame"} -->
<div class="wp-block-columns sensei-course-theme__quiz__header sensei-course-theme__frame">
	<!-- wp:column {"className":"sensei-course-theme__quiz__header__left"} -->
	<div class="wp-block-column sensei-course-theme__quiz__header__left">
		<!-- wp:sensei-lms/quiz-back-to-lesson /-->
		<!-- wp:post-title {"level": 1} /-->
	</div>
	<!-- /wp:column -->
	<!-- wp:column {"className":"sensei-course-theme__quiz__header__right"} -->
	<div class="wp-block-column sensei-course-theme__quiz__header__right">
		<!-- wp:sensei-lms/quiz-progress /-->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:group {"className":"sensei-course-theme__quiz__main-content", "tagName": "main"} -->
<main class="wp-block-group sensei-course-theme__quiz__main-content">
	<!-- wp:sensei-lms/course-theme-notices /-->
	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"className":"sensei-course-theme__quiz__footer_wrapper sensei-course-theme__frame"} -->
<div class="wp-block-group sensei-course-theme__quiz__footer__wrapper sensei-course-theme__frame">
	<!-- wp:group {"className":"sensei-course-theme__quiz__footer alignwide"} -->
	<div class="wp-block-group sensei-course-theme__quiz__footer alignwide">
		<!-- wp:sensei-lms/quiz-actions /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->