<!-- wp:pattern {"slug":"sensei-course-theme/header"} /-->

<!-- wp:group {"className":"sensei-course-theme__quiz__main-content sensei-version\u002d\u002d4-16-2 sensei-course-theme__main-content", "tagName": "main"} -->
<main class="wp-block-group sensei-course-theme__quiz__main-content sensei-version--4-16-2 sensei-course-theme__main-content">
	<!-- wp:sensei-lms/quiz-back-to-lesson /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"0"},"padding":{"bottom":"0"}}}} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"className":"sensei-course-theme__quiz__header__right","layout":{"type":"constrained"}} -->
		<div class="wp-block-group sensei-course-theme__quiz__header__right" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"></div>
		<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:sensei-lms/course-theme-notices /-->
	<!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"className":"sensei-course-theme__quiz__footer_wrapper sensei-course-theme__frame"} -->
<div class="wp-block-group sensei-course-theme__quiz__footer__wrapper sensei-course-theme__frame">
	<!-- wp:group {"className":"sensei-course-theme__quiz__footer alignwide"} -->
	<div class="wp-block-group sensei-course-theme__quiz__footer alignwide">
		<!-- wp:sensei-lms/quiz-actions /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
