.sensei-pro-badge {
	background-color: #43af99;
	border-radius: 12px;
	color: #26212e;
	display: inline-block;
	font-size: 11px;
	line-height: 1.454545454545455;
	margin-left: 5px;
	padding: 1px 5px;
}
