@import '../../styles/variables';

.sensei-stepper {
	$step-icon-size: 24px;

	.sensei-stepper__steps {
		display: flex;
		justify-content: space-around;
		margin-bottom: $gap-large;
	}

	.sensei-stepper__step {
		padding: $gap-smaller;
		font-weight: 400;
		position: relative;

		.sensei-stepper__step-label-wrapper {
			display: flex;
			text-align: left;
			border: 0;
			background-color: transparent;
			padding: 0;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		button.sensei-stepper__step-label-wrapper {
			cursor: pointer;
		}

		.sensei-stepper__step-text {
			width: 100%;
		}

		.sensei-stepper__step-label {
			color: $gray-90;
			line-height: $step-icon-size;
			font-size: 16px;
		}

		.sensei-stepper__step-description {
			display: none;
			font-size: 14px;
			color: $gray-50;
			font-weight: 400;
			margin-top: 2px;
		}

		.sensei-stepper__step-icon svg {
			display: none;
		}

		.sensei-spinner {
			display: block;
			margin-right: $gap-small;
			max-height: $step-icon-size;
			min-width: 24px;
			width: 24px;
			border-radius: 50%;
			background: var( --wp-admin-theme-color );
		}

		.sensei-spinner__circle {
			stroke: $white;
		}

		&.is-active,
		&.is-complete {
			.sensei-stepper__step-icon {
				background: $primary;
				color: $white;
			}

			.sensei-stepper__step-label {
				color: $gray-90;
			}
		}

		&.is-active {
			.sensei-stepper__step-icon {
				font-weight: 600;
			}
			.sensei-stepper__step-label {
				font-weight: 600;
				margin: 0;
			}
		}

		&.is-complete {
			.sensei-stepper__step-number {
				display: none;
			}
			svg {
				display: inline;
			}
		}
	}

	.sensei-stepper__step-icon {
		font-size: 16px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: $step-icon-size;
		height: $step-icon-size;
		min-width: $step-icon-size;
		margin-right: $gap-small;
		background: $gray-5;
		color: $gray-60;
		border-radius: 50%;
	}

	.sensei-stepper__step-divider {
		align-self: flex-start;
		flex-grow: 1;
		border-bottom: 1px solid $gray-5;
		margin-top: $step-icon-size / 2 + $gap-smaller;

		&:last-child {
			display: none;
		}
	}

	@media ( max-width: 782px ) {
		.sensei-stepper__step-label {
			display: none;
			padding-top: 24px;
		}
		.sensei-stepper__step-icon {
			margin-right: 0;
		}
	}
}
