.sensei-toolbar-dropdown {
	&__popover.components-popover[data-x-axis='right'] {
		.components-popover__content {
			margin-left: 0;
			min-width: 300px;
		}
	}

	&__option {
		text-align: left;
		height: auto;
		min-height: 32px;
		border-radius: 2px;

		.components-menu-item__item {
			white-space: normal;
		}

		&.is-selected {
			background-color: #f0f0f0;
		}
	}
}