.sensei-setup-wizard {
	&__usage-tracking-illustration {
		margin: 0 0 (-$small-vertical-padding) (-$small-horizontal-padding);
		background: no-repeat url("../images/onboarding-improve-experience-illustration.png");
		background-size: 100% auto;

		@media (min-width: $small-screen-break) {
			margin: 0 0 (-$big-vertical-padding) (-$big-horizontal-padding);
		}

		@media (min-width: $columns-break) {
			width: 50%;
		}
	}
}
