<!-- wp:group {"className":"sensei-learning-mode__header sensei-learning-mode__frame sensei-version--4-0-2", "tagName": "header"} -->
<header class="wp-block-group sensei-learning-mode__header sensei-learning-mode__frame sensei-version--4-0-2">
    <!-- wp:columns {"className":"sensei-learning-mode__header__container is-not-stacked-on-mobile"} -->
    <div class="wp-block-columns sensei-learning-mode__header__container is-not-stacked-on-mobile">
        <!-- wp:column {"className":"sensei-learning-mode__header__left"} -->
        <div class="wp-block-column sensei-learning-mode__header__left">
            <!-- wp:site-logo { "width": 50 } /-->
            <!-- wp:sensei-lms/course-title /-->
            <!-- wp:sensei-lms/learning-mode-course-progress-counter /-->
        </div>
        <!-- /wp:column -->
        <!-- wp:column {"className":"sensei-learning-mode__header__navigation"} -->
        <div class="wp-block-column sensei-learning-mode__header__navigation">
            <!-- wp:sensei-lms/learning-mode-prev-next-lesson /-->
            <!-- wp:sensei-lms/sidebar-toggle-button /-->
        </div>
        <!-- /wp:column -->
        <!-- wp:column {"className":"sensei-learning-mode__actions"} -->
        <div class="wp-block-column sensei-learning-mode__actions">
            <!-- wp:sensei-lms/learning-mode-lesson-actions /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- wp:sensei-lms/learning-mode-course-progress-bar /-->
</header>
<!-- /wp:group -->
<!-- wp:columns {"className":"sensei-learning-mode__columns"} -->
<div class="wp-block-columns sensei-learning-mode__columns">
    <!-- wp:column {"width":"300px","className":"sensei-learning-mode__sidebar sensei-learning-mode__frame"} -->
    <div class="wp-block-column sensei-learning-mode__sidebar sensei-learning-mode__frame" style="flex-basis:300px">
        <!-- wp:group {"className":"sensei-learning-mode__sidebar__content"} -->
        <div class="wp-block-group sensei-learning-mode__sidebar__content">
            <!-- wp:sensei-lms/focus-mode-toggle /-->
            <!-- wp:sensei-lms/course-navigation /-->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"className":"sensei-learning-mode__sidebar__footer"} -->
        <div class="wp-block-group sensei-learning-mode__sidebar__footer">
            <!-- wp:sensei-lms/button-contact-teacher /-->
            <!-- wp:sensei-lms/exit-course /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
    <!-- wp:column {"width":"","className":"sensei-learning-mode__main-content"} -->
    <div class="wp-block-column sensei-learning-mode__main-content">
        <!-- wp:group {"className":"sensei-learning-mode__main-content__container entry-content", "tagName": "main"} -->
        <main class="wp-block-group sensei-learning-mode__main-content__container">
            <!-- wp:sensei-lms/learning-mode-lesson-module /-->
            <!-- wp:post-title {"level": 1} /-->
            <!-- wp:sensei-lms/learning-mode-notices /-->
            <!-- wp:post-content /-->
            <!-- wp:sensei-lms/page-actions /-->
        </main>
        <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->