.sensei-import-done {
	&__section-description {
		font-style: italic;
	}

	&__log-fetching {
		display: flex;
		justify-content: center;
		align-items: center;

		.components-spinner {
			margin-top: 0;
		}
	}

	&__log-data {
		padding-bottom: 24px;
		text-align: left;

		.sensei-data-table thead th {
			white-space: nowrap;
		}
	}

}
