.sensei-import-done {
	&__result {
		margin-top: 2rem;
	}
	&__result, &__errors, &__log {
		text-align: center;
	}

	&__result-icon--success {
		color: $primary;
	}
	&__result-icon--warning {
		color: $gray-10;
	}

	&__log {
		.sensei-import-log-data {
			text-align: left;
		}
		.sensei-data-table thead th {
			padding-top: 1rem;
		}


		.sensei-import-log-row__header {
			max-width: 0;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 50%;
		}
	}

}
