.wp-block-sensei-lms-quiz-question.file-upload {
	.sensei-lms-question-block__file-upload-button {
		box-sizing: border-box;
		display: block;
	}

	.max_upload_size {
		font-size: var(--wp--preset--font-size--small);
	}
}
