.sensei-course-theme__quiz {

	&__main-content {
		.wp-block-post-title {
			margin-bottom: 3.75rem;
		}
	}
	&__footer {
		.sensei-quiz-actions {
			.sensei-quiz-action {
				button {
					padding: 0 32px;
					line-height: 56px;
				}
			}
			.sensei-quiz-actions-secondary {
				.sensei-quiz-action {
					button {
						font-family: var( --wp--preset--font-family--body );
						font-size: var(--wp--custom--typography--font-sizes--normal);
					}
				}
			}
		}
	}
}
