.quiz {
	.sensei-course-theme__quiz {
		&__main-content {
			.wp-block-post-title {
				margin-bottom: 3.75rem;
			}

			form {
				ol#sensei-quiz-list {
					.wp-block-sensei-lms-question-answers {
						input[type=file]::file-selector-button {
							color: inherit;
							border: 1px solid var(--wp--preset--color--foreground);
							border-radius: 8px;
							text-transform: uppercase;
							font-size: var(--wp--custom--typography--font-sizes--button);
						}
					}

					.max_upload_size {
						font-size: var(--wp--preset--font-size--small);
					}
				}
			}
		}
		&__footer {
			.sensei-quiz-actions {
				.sensei-quiz-action {
					button {
						padding: 1rem 32px;
					}
				}
				.sensei-quiz-actions-secondary {
					.sensei-quiz-action {
						button {
							font-family: var( --wp--preset--font-family--body );
						}
					}
				}
			}
		}
	}
}
