@import '../../../../shared/styles/variables';

.wp-block-sensei-lms-quiz {
	.wp-block-sensei-lms-question-answers {
		.wp-block-sensei-lms-question-answers__answer {
			color: $gray-50;
		}

		.wp-block-sensei-lms-question-answers__preview {
			border-radius: 4px;
			border: 1px solid var(--wp--preset--color--foreground);
		}
	}
}
.quiz {
	.sensei-course-theme__quiz {
		&__main-content {
			.wp-block-post-title {
				margin-bottom: 3.75rem;
			}
		}
		&__footer {
			.sensei-quiz-actions {
				.sensei-quiz-action {
					button {
						padding: 1rem 32px;
					}
				}
				.sensei-quiz-actions-secondary {
					.sensei-quiz-action {
						button {
							font-family: var( --wp--preset--font-family--body );
						}
					}
				}
			}
		}
	}
}
