@import '../shared/styles/variables';
@import '../shared/styles/wp-admin';

$wordpress-break: 961px;

@mixin white-box {
	border-radius: 2px;
	background-color: $white;
	box-shadow: 0 0 0 1px #DCDCDE;
}

@mixin col-width($w) {
	@media (min-width: $wordpress-break) {
		width: calc(#{$w} / 12 * 100%);
	}
}

.sensei-extensions {
	margin-right: 20px;

	.button-primary {
		min-width: 112px;
		min-height: 36px;
	}

	&__loader {
		height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__section {
		margin-bottom: 38px;
	}

	&__section {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 38px;

		&__title {
			margin: 0 0 17px;
		}

		&__content {
			flex: 1;
		}
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -9px;

		&__col {
			box-sizing: border-box;
			width: 100%;
			padding: 0 9px;

			&.--col-12 {
				@include col-width( 12 );
			}

			&.--col-11 {
				@include col-width( 11 );
			}

			&.--col-10 {
				@include col-width( 10 );
			}

			&.--col-9 {
				@include col-width( 9 );
			}

			&.--col-8 {
				@include col-width( 8 );
			}

			&.--col-7 {
				@include col-width( 7 );
			}

			&.--col-6 {
				@include col-width( 6 );
			}

			&.--col-5 {
				@include col-width( 5 );
			}

			&.--col-4 {
				@include col-width( 4 );
			}

			&.--col-3 {
				@include col-width( 3 );
			}

			&.--col-2 {
				@include col-width( 2 );
			}

			&.--col-1 {
				@include col-width( 1 );
			}
		}
	}

	&__tabs {
		float: none;

		&__tab {
			&:not(:last-child)::after {
				content: '|';
			}
		}
	}

	&__update-badge {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		color: #000;

		svg {
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}
	}

	&__update-notification {
		@include white-box;
		padding: 17px 50px;
		border-left: solid 5px $primary;

		.sensei-extensions__update-badge {
			margin-left: -29px
		}

		&__title {
			margin: 10px 0;
			font-size: 18px;
		}

		&__description {
			margin: 0 0 30px;
			font-size: 14px;
		}

		&__list {
			margin: 10px 0 30px;

			&__item {
				margin: 0;

				&::before {
					content: "- "
				}
			}
		}

		&__version-link {
			color: inherit;
		}
	}

	&__featured-list {
		@include white-box;
		padding: 15px;
		margin: 0;

		@media (min-width: $wordpress-break) {
			display: flex;
			flex-wrap: wrap;
		}

		@media (min-width: 1200px) {
			padding: 50px 45px;
		}

		.sensei-extensions__list-item {
			box-sizing: border-box;
			padding: 10px;
			margin: 0;

			@media (min-width: $wordpress-break) {
				@include col-width(6);
				padding: 15px;
			}

			@media (min-width: 1200px) {
				@include col-width(4);
			}
		}

		.sensei-extensions__card-wrapper {
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
			border-radius: 8px;
		}
	}

	&__small-list,
	&__large-list {
		@include white-box;
		margin: 0;

		.sensei-extensions__list-item {
			margin: 0;

			&:not(:last-child) {
				border-bottom: solid 1px #DCDCDE;
			}
		}
	}

	@media (min-width: $wordpress-break) and (max-width: 1100px) {
		&__small-list {
			.sensei-extensions__card__header {
				display: block;
			}
			.sensei-extensions__card__new-badge {
				display: block;
				text-align: right;
				padding-left: 0;
			}
		}
	}

	@media (min-width: $wordpress-break) {
		&__large-list {
			.sensei-extensions__card__content {
				display: flex;
			}
			.sensei-extensions__card__description {
				flex: 1;
			}
			.sensei-extensions__extension-actions {
				padding-left: 20px;
				flex-shrink: 0;
				flex-direction: row-reverse;
			}
			.sensei-extensions__extension-actions__details-link {
				margin-right: 10px;
			}
		}
	}

	&__grid-list {
		padding: 0;

		@extend .sensei-extensions__grid;

		.sensei-extensions__list-item {
			margin: 0 0 15px;

			@extend .sensei-extensions__grid__col;
			@include col-width( 4 );
		}

		.sensei-extensions__card-wrapper {
			@include white-box;
			height: 100%
		}
	}

	&__card {
		padding: 25px;
		background-color: $white;

		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		&__title {
			margin: 0;
			font-size: 16px;
			font-weight: bold;
		}

		&__new-badge {
			padding-left: 10px;
			font-size: 12px;
			white-space: nowrap;

			&::before {
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-right: 7px;
				background-color: $primary;
				border-radius: 50%;
			}
		}

		&__description {
			margin: 0 0 10px;
			font-size: 14px;
		}
	}

	&__extension-actions {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;

		&__item {
			margin: 0;
		}

		&__details-link {
			display: inline-block;
			padding: 0 10px;
			margin-left: 10px;
			font-size: 13px;
			color: #000;
		}

		&__button-icon {
			vertical-align: middle;
		}
	}
}
