
.wp-block-sensei-lms-button-core {
	.wp-block-button__link {
		display: block;
	}

	.wp-block-button__inline-link {
		display: none!important;
	}
}

.wp-block-sensei-lms-button-own {
	.wp-block-button__link {
		display: block;
	}
	&.has-text-align-center, &.has-text-align-left, &.has-text-align-right {
		.wp-block-button__link {
			display: inline-block;
		}
	}
}
