:root .editor-styles-wrapper {
	--wp--preset--color--background: #f3f3f3;

	.wp-block-post-content *, .block-editor-block-list__layout * {
		font-family: -apple-system, "SF Pro Text", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	}
	.wp-element-button, .editor-styles-wrapper .wp-block-button__link {
		text-transform: capitalize;
	}
}


.edit-post-visual-editor__post-title-wrapper {
	visibility: hidden;
}
