@import './button/button';
@import './contact-teacher-block/contact-teacher';
@import './learner-courses-block/learner-courses';

.sensei-block-wrapper {
	margin-top: 28px;
	margin-bottom: 28px;
}

.sensei-collapsible__content {
	opacity: 1;
	overflow: hidden;

	transition: max-height 350ms ease-in-out, opacity 350ms ease-in-out;

	&.collapsed {
		opacity: 0;
		max-height: 0;
	}
}
