.wp-block-sensei-lms-button-contact-teacher {
	margin: 0.5em auto;
}
.sensei-contact-teacher-form {
	&__actions {
		margin: 0.5em 0;
		text-align: right;
	}
	&__submit {
		padding: 10px 14px;
	}

	margin-bottom: 1em;
}