:root .editor-styles-wrapper .wp-block-sensei-lms-course-categories > a {
	background-color: var(--sensei-lms-course-categories-background-color);
	color: var(--sensei-lms-course-categories-text-color);
	text-decoration: none;
}
