$block: 'sensei-lms-course-categories';

.wp-block-#{$block} {
	--#{$block}-text-color: #ffffff;
	--#{$block}-background-color: currentColor;

	// Increase the CSS Specificity
	&.taxonomy-course-category {
		margin: 10px 0;
		width: 100%;

		> a {
			display: inline-flex;
			padding: 3px 6px;
			text-decoration: none;
			border-radius: 2px;
			white-space: nowrap;
			margin-bottom: 5px;
			background-color: var( --#{$block}-background-color );

			&:not( :last-child ) {
				margin-right: 10px;
			}
			& span {
				color: var( --#{$block}-text-color );
			}
		}

		&.alignright {
			text-align: right;
		}

		&.aligncenter {
			text-align: center;
		}
	}
}
