.sensei-carousel {
	width: 100%;
	overflow: hidden;

	&__viewport {
		width: 80%;
		margin: 0 auto;
		overflow: visible;
	}

	&__slider {
		display: flex;
		margin: 0;
		transition: 0.5s transform;
		cursor: grab;

		> li {
			flex: 0 0 100%;
			width: 100%;
			padding: 0 20px;
			margin: 0;
			box-sizing: border-box;
		}

		img {
			pointer-events: none;
		}
	}

	&--is-dragging &__slider {
		transition: none;
	}
}
