.sensei-setup-wizard {
	&__theme-actions {
		> * {
			display: block;
			width: 100%;

			@media (min-width: $small-screen-break) {
				display: revert;
				width: auto;
				margin: 0 8px;
			}
		}
	}
}

.sensei-setup-wizard-theme {
	padding-top: 64px;

	&__image-wrapper {
		padding: 16px;
		border-radius: 16px;
		background: rgba(0, 0, 0, 0.05);
	}

	&__image {
		display: block;
		width: 100%;
	}
}
