@import './patterns-list.scss';

.sensei-editor-wizard {
	padding-bottom: 72px; // Footer height.

	&__footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #ffffff;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top: 1px solid rgba(30, 30, 30, 0.12);
		padding: 18px 30px;
	}

	&__progress {
		color: #787C82;
	}

	&__actions {
		margin-left: auto;
	}
}

.sensei-editor-wizard-modal {
	@media ( min-width: 600px ) { // Media query needed for WP 5.8 compatibility.
		width: 800px;
	}
	& .components-modal__content {
		padding: 0;
		margin-top: 0;

		&::before {
			content: none;
		}
	}

	.components-modal__header {
		border-bottom: none;
		padding: 0;
		position: fixed;

		.components-button {
			align-self: flex-start;
			margin: 8px 8px 0 0;
			position: static;
		}
	}

	&__sticky-title {
		position: sticky;
		top: 0;
		z-index: 1;
		margin: -30px 0 0;
		padding: 30px 0 18px;
		background: #ffffff;
	}

	&__columns {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	&__content {
		margin: 30px;
	}

	&__illustration {
		background: #43af99;
		display: flex;
		justify-content: right;
		align-items: center;
	}

	&__illustration-image {
		height: 75%;
	}
}

.sensei-editor-wizard-modal-upsell {
	&__price {
		font-size: 28px;
	}

	&__price-detail {
		font-size: 11px;
		color: #787C82;
		margin-top: -10px;
		margin-bottom: 30px;
	}

	&__features {
		list-style: none;
		padding: 0;
		font-weight: 700;
	}

	&__feature-item {
		padding-left: 1.3em;

		&::before {
			content: "\f00c";
			font-family: FontAwesomeSensei, FontAwesome;
			display: inline-block;
			margin-left: -1.3em;
			width: 1.3em;
			color: #00998b;
		}
	}

	&__button {
		margin-left: 12px;
		padding: 18px 30px;
	}
}

.sensei-editor-wizard-step {
	&__form {
		& label {
			font-weight: bold;
			margin-top: 30px;
		}
	}
}
