$primary: #32af7d;
$secondary: #674399;
$link: #50575e;
$link-primary:  $primary;

$gray-0: #f6f7f7;
$gray-5: #dcdcde;
$gray-10: #c3c4c7;
$gray-20: #a7aaad;
$gray-30: #8e9196;
$gray-40: #787c82;
$gray-50: #646970;
$gray-60: #50575e;
$gray-70: #3c434a;
$gray-80: #2c3338;
$gray-90: #1d2327;
$gray-100: #101517;
$gray: #646970;

$text_primary: $gray-80;
$text_secondary: $gray-60;
