
body.sensei-wp-admin-fullscreen {
	#adminmenumain, #wpcontent {
		transition: margin-left 300ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	#adminmenumain {
		margin-left: 0;
	}
}

body.sensei-wp-admin-fullscreen--active {

	#adminmenumain {
		margin-left: -160px;
	}

	#wpwrap {
		top: 0;
	}

	#wpbody-content, #sensei-onboarding-page {
		min-height: 100%;
	}

	#wpcontent > *,
	.error,
	.notice,
	.update-nag,
	.updated,
	#wpfooter {
		display: none;
	}

	#wpadminbar {
		display: block;
		* {
			display: none;
		}
	}

	#wpcontent {
		margin-left: 0;
	}

	#wpcontent > #wpbody {
		display: block;
	}

	.wrap {
		margin: 0;
	}

	#wpcontent,
	#wpbody-content {
		padding: 0;
	}

	@media (min-width: 783px) {
		#wpbody-content {
			padding-left: 0;
		}
	}
	@media (max-width: 782px) {
		.wp-responsive-open #wpbody {
			position: relative;
			right: -14.5em;
		}
		#wpbody-content,
		#wpcontent {
			min-height: calc(100vh - 46px);
		}
	}
}