@import '~@woocommerce/components/build-style/style.css';
@import 'fullscreen';
@import 'variables';
@import 'wp-colors';

.sensei-onboarding {

	&__page {
		background: #f6f7f7;
		color: #50575e;

		* {
			box-sizing: border-box;
		}
	}

	&__header {
		border-bottom: 1px solid #dcdcde;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		padding: 8px;

		.woocommerce-stepper {
			width: 100%;

			&__steps {
				margin: 0;
			}
		}
	}

	&__container {
		max-width: 476px;
		margin-left: auto;
		margin-right: auto;
	}

  &__button.components-button {
    display: flex;
    margin: 8px auto 0;

    max-width: 100%;
    justify-content: center;

    height: 48px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    align-items: center;
  }

  &__button-card.components-button {
    width: 310px;
  }

  &__button-modal.components-button {
    margin-right: 0;
  }


  &__skip {
    text-align: center;
  }

	&__title {

		text-align: center;
		margin: 40px 0 20px 0;

		h2 {
			color: $text_primary;
			font-weight: normal;
			font-size: 24px;
		}
	}

  &__card {
    p {
      font-size: 14px;
      line-height: 1.65;
    }
  }

  &__usage-modal {
    width: 600px;
    max-width: 100%;

    .components-modal__header {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__tracking {
    margin: 1rem 0;
  }
}
