$block: '.wp-block-sensei-lms-course-list';

/* Match styles applied to block on single course page. */
#{$block} {
	.course {
		border: 0;
		margin: 0 0 1.618em;
		padding: 0 0 25px;
	}
	.featured-course-wrapper__featured-image {
		position: relative;
		.course-list-featured-label__featured-image{
			position: absolute;
			top: 5px;
			left: 5px;
			background-color: #1d2327;
			color: #fff;
			padding: 5px;
			z-index: 999;
		}
	}

	.featured-course-wrapper__course-categories {
		display: flex;
		flex-direction: row;
		.course-list-featured-label__course-categories{
			display: block;
			margin-right: 10px;
			height: max-content;
			margin-top: 10px;
			color: #fff;
			background-color: #1d2327;
			padding: 3px 6px;
			text-decoration: none;
			border-radius: 2px;
			white-space: nowrap;
			font-size: var(--wp--preset--font-size--small) !important;
		}
	}

	.wp-block-post-featured-image {
		margin: 0 auto 1.618em;
	}

	@media ( min-width: 782px ) {
		&--is-list-view {
			.wp-block-sensei-lms-button-take-course,
			.wp-block-sensei-lms-button-continue-course,
			.wp-block-sensei-lms-button-view-results {
				text-align: right;
			}
		}
	}

	&--is-grid-view {
		/* Align button to bottom of card. */
		.wp-block-post {
			display: flex;
			flex-direction: column;

			.sensei-cta {
				margin-top: auto;
			}
		}

		@media ( max-width: 599px ) {
			.wp-block-post-template.is-flex-container li.course {
				width: 100%;
			}
		}
	}
}

/* Divi overrides */
#left-area #{$block} {
	.wp-block-post-template {
		list-style: none;
		margin-left: 0;
		padding: 1.25em;
	}
}

.featured-badge {
	display: none;
}


.featured-image-wrapper {
	position: relative;
	.featured-badge {
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		background-color: #1d2327;
		color: #fff;
		padding: 3px 6px;
		text-decoration: none;
		border-radius: 2px;
		white-space: nowrap;
		z-index: 1000;
	}
}


.featured-category-wrapper {
	display: flex;
	flex-direction: row;

	.featured-badge {
		display: block;
		margin-right: 10px;
		height: max-content;
		margin-top: 10px;
		background-color: #1d2327;
		color: #fff;
		padding: 3px 6px;
		text-decoration: none;
		border-radius: 2px;
		white-space: nowrap;
	}
}

