.editor-styles-wrapper {
	.wp-block-sensei-lms-course-list {
		.components-button.is-secondary {
			display: none;
		}

		&--is-grid-view {
			/* Align button to bottom of card. */
			[data-type="sensei-lms/course-actions"] {
				margin-top: auto;
			}

			/* Fix for Divi centre aligning blocks. */
			.wp-block-post-title,
			.wp-block-post-author,
			.wp-block-post-excerpt,
			[data-type="sensei-lms/course-progress"],
			[data-type="sensei-lms/course-actions"] {
				width: 100%;
			}
		}
	}
}

/* Astra overrides */
.edit-post-visual-editor .wp-block-sensei-lms-course-list {
	padding: 1em;
}
