@import '../../../shared/styles/wp-colors';

.sensei-number-control {
	display: flex;
	justify-content: space-between;

	&__input {
		min-width: 0;
	}

	&__input-container {
		flex: 1;
		position: relative;
	}

	&__input-suffix {
		position: absolute;
		right: 26px;
		top: 0;
		bottom: 0;
		font-size: 10px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		color: $gray-700;
		pointer-events: none;
	}

	&__button.components-button.is-small {
		height: auto;
		margin-left: 8px;
	}
}
