/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.4.0
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

@import "mixins";

/*-----------------------------------------------------------------------------------*/
/* Activation Stylesheet */
/*-----------------------------------------------------------------------------------*/

/* Sensei Branding */
#message.sensei-message  {
	
	.squeezer  {
		max-width: 960px;
		margin: 0;
		padding: 0 10px;
		text-align: left;
		overflow: hidden;
	}
	
	li {
		list-style:none outside;
	}
	.submit  {
		
		a  {
			
			&.skip  {
				@include opacity(0.6);
			}
		}
	}
}