$sensei-notice-icon-height: 30px;
$sensei-notice-icon-width: 30px;

/* Sensei Notice */
.sensei-notice {
	@import '../shared/styles/wp-admin';

	align-items: center;
	border-left-color: $primary;
	display: flex;
	gap: 10px;
	min-height: 40px;
	padding: 18px 24px;

	&__content {
		flex: 1;
		display: flex;
		gap: 18px;
		align-items: center;
		color: #101517;
		font-size: 14px;
	}

	&__content a {
		color: #000;
	}

	&__icon {
		color: #26212E;
		flex: 0 0 auto;
		margin-top: 0;
		width: $sensei-notice-icon-width;
		height: $sensei-notice-icon-height;
	}

	&__heading {
		margin-bottom: 5px;
		font-weight: bold;
	}

	&__actions {
		white-space: nowrap;

		.button {
			margin-left: 18px;
			padding: 3px 12px;
		}
	}

	.button-secondary {
		color: #155E65;
		border-color: #43AF99;
	}

	.notice-dismiss {
		top: 50%;
		transform: translateY(-50%);
	}

	&.sensei-notice-error {
		border-left-color: $notice-error;
	}

	&.sensei-notice-warning {
		border-left-color: $notice-warning;
	}

	&.sensei-notice-info {
		border-left-color: $notice-info;
	}

	&.sensei-notice-success {
		border-left-color: $notice-success;
	}
}
