/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.4.5
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

/* Lesson Write Panel Styling */
a.lesson_course_cancel { text-decoration: underline; }
a.lesson_question_cancel { text-decoration: underline; }
#lesson-info input[type=text] { margin-bottom: 10px; }
#lesson-info label { vertical-align: top; }
#lesson-quiz input[type=text] { margin-bottom: 10px; }
#lesson-course-details input, #lesson-course-details select { margin-bottom: 10px; }
tr.question-quick-edit td { padding-bottom: 10px; }
#add-quiz-main button.add_quiz { margin-left: 5px; }
select.question-type-select { margin-bottom: 10px; }
div.question_boolean_fields { margin-bottom: 10px; }
/* Course Write Panel Styling */
/* Grading */
.wrap div.grading-notice { margin: 25px 0 0px; }