@font-face {
	font-family: 'Recoleta';
	src: url('../css/fonts/recoleta-regular.woff2') format('woff2'), url('../css/fonts/recoleta-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$recoleta-font-family: Recoleta, sans-serif;
