/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.3.3
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/
/*-----------------------------------------------------------------------------------*/
/* Frontend Stylesheet */
/*-----------------------------------------------------------------------------------*/
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
  
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
  
    transform: rotate(0);
    zoom: 1;
  }
}
/* Font Awesome Icons */
@font-face {
  font-family: 'FontAwesomeSensei';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Courses */
#main .course {
  position: relative;
  margin: 0 0 1.618em;
  padding: 0 0 1em;
  border-bottom: 1px solid #e2e2e2;
}
#main .course:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#main .course header h2 {
  margin: 0;
}
#main .course .course-meta {
  position: absolute;
  top: .202em;
  right: 0;
}
#main .course .course-meta .course-start {
  margin-top: .53em;
}
#main .course .course-meta .status {
  padding: .382em 1em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  font-weight: bold;
  background: #c6c6c6;
}
#main .course .course-meta .status:before {
  font-family: 'FontAwesomeSensei';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
}
#main .course .course-meta .status.completed {
  background: #63a95f;
}
#main .course .course-meta .status.completed:before {
  content: "\f00c";
}
#main .course .course-meta .status.in-progress:before {
  content: "\f110";
}
#main .course .course-meta .status.register {
  background: #ed6c6c;
}
#main .course .course-meta .status.register a {
  color: #fff;
}
#main .course .course-meta .single_add_to_cart_button {
  font-size: 1em;
  position: relative;
  top: .2em;
}
#main .course .sensei-course-meta {
  font-style: italic;
  font-size: .9em;
  color: #888888;
}
#main .course .sensei-course-meta a {
  color: #555;
}
#main .course .sensei-course-meta .course-price {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 2.244em;
  color: #222222;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main .course .entry-actions span {
  margin: 0 1em 0 0;
}
#main .course .course-lessons > header {
  margin: 2.244em 0 1.618em;
  padding: 2.244em 0 0;
  border-top: 2px solid #e6e6e6;
}
#main .course .course-lessons > header .course-completion-rate {
  font-style: italic;
}
#main .course .course-lessons > header .meter {
  margin: 1em 0 3em;
}
#main .course .course-lessons .lesson header h2 {
  margin: 0;
}
#main .course .course-lessons .lesson p.lesson-meta {
  font-style: italic;
  font-size: .9em;
  color: #888888;
}
#main .course .course-lessons .lesson p.lesson-meta a {
  color: #555;
}
#main .course .course-lessons .lesson p.lesson-meta span {
  padding-left: 15px;
}
#main .course .course-lessons .lesson p.lesson-meta span:first-child {
  padding-left: 0px;
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status {
  position: absolute;
  top: .53em;
  right: 0;
  font-style: normal;
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete {
  color: #63a95f;
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.complete:before {
  font-family: 'FontAwesomeSensei';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: '\f00c';
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress {
  color: #555555;
}
#main .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress:before {
  font-family: 'FontAwesomeSensei';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: '\f110';
}
.single.logged-in #main .type-course {
  border: none;
}
.single.logged-in #main .type-course header h1 {
  margin-right: 150px;
}
.lesson .lesson-meta {
  margin: 0 0 1.618em;
}
.lesson-course {
  margin: 2em 0;
  font-style: italic;
  color: #888888;
  font-size: .9em;
}
.lesson-course a:after {
  font-family: 'FontAwesomeSensei';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: '\f112';
  margin-left: 3px;
}
.quiz form ol#sensei-quiz-list {
  margin: 0 0 1.618em 0;
}
.quiz form ol#sensei-quiz-list li {
  margin: 0 0 1.618em;
  font-size: 1.1em;
}
.quiz form ol#sensei-quiz-list li > span {
  display: block;
  margin: 0 0 1em;
  font-weight: bold;
}
.quiz form ol#sensei-quiz-list li ul {
  margin: .53em 0;
}
.quiz form ol#sensei-quiz-list li ul li {
  margin: 0 0 .382em;
  font-weight: normal;
  font-size: 0.9em;
  list-style: none;
}
.quiz form ol#sensei-quiz-list li ul li input {
  margin: 0 .382em 0 0;
}
.quiz form ol#sensei-quiz-list li ul li label {
  vertical-align: middle;
}
.quiz form input.quiz-submit {
  margin-right: 10px;
}
.quiz input.quiz-submit.complete,
.lesson input.quiz-submit.complete {
  background: #63a95f;
}
.quiz input.quiz-submit.reset,
.lesson input.quiz-submit.reset {
  background: #ed6c6c;
}
.lesson input.quiz-submit {
  margin-top: 1em;
}
div.course-container div.course {
  display: block;
  padding: 5px;
}
section.entry span.course-lesson-count {
  padding-left: 10px;
}
section.entry span.course-category {
  padding-left: 10px;
}
section.entry span.course-lesson-progress {
  padding-left: 10px;
}
section.entry span.course-price {
  padding-left: 10px;
}
/* My Courses */
#my-courses #loginform label {
  font-weight: bold;
  margin: 0 1em 0 0;
}
#my-courses #loginform .login-username,
#my-courses #loginform .login-password {
  clear: both;
}
#my-courses #loginform .login-remember {
  float: left;
  margin: .2em 7.2em 0 0;
  font-size: .9em;
}
#my-courses #loginform .login-remember label {
  font-weight: normal;
}
/* Course Archives */
.course-container {
  margin: 0 0 4.236em;
}
.course-container .archive-header {
  border: none;
  padding: 0;
}
.course-container .archive-header h1 {
  margin: 0;
  padding: 0 0 .53em;
  border: none;
  font-size: 1.387em;
  color: #333;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
}
.course-container .navigation {
  float: right;
  margin: -10px 0 0;
  text-align: right;
}
.course-container .navigation a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
/* Tabber */
.ui-tabs {
  position: relative;
  zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
  margin: 0 0 10px!important;
  float: left;
  width: 100%;
  padding: .2em 0 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 0 .2em 1px 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 5px 20px;
  font-weight: bold;
  color: #777;
  text-decoration: none;
  outline: none!important;
  line-height: 1;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a {
  color: #555;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: #333;
  background: #e2e2e2;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
  clear: both;
  display: block;
  border-width: 0;
  padding: 1em 0;
  background: none;
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
/* Course Progress Bars */
.meter {
  height: 25px;
  /* Can be anything */

  position: relative;
  margin: 20px 0;
  /* Just for demo spacing */

  background: #ededed;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  clear: both;
}
.meter > span {
  display: block;
  padding: 1px 10px 0 0;
  height: 100%;
  background-color: #63a95f;
  position: relative;
  overflow: hidden;
  text-align: right;
  color: #fff;
  min-width: 45px;
  font-weight: bold;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.meter.orange > span {
  background: #d3d3d3;
}
.meter.red > span {
  background: #ed6c6c;
}
.alignleft {
  float: left;
  margin: 0 1.618em 1em 0;
}
.alignright {
  float: right;
  margin: 0 0 1em 1.618em;
}
.aligncenter {
  display: block;
  text-align: center;
  margin: 0 auto 1.618em;
}
.nav-next,
.nav-prev {
  width: auto!important;
}
.nav-next {
  float: right;
}
.nav-prev {
  float: left;
}
/*-------------------------------------------------------------------------------------------*/
/* 1. Info Boxes */
/*-------------------------------------------------------------------------------------------*/
.course-container p.woo-sc-box,
.course p.woo-sc-box,
.lesson p.woo-sc-box,
.quiz p.woo-sc-box,
.course-container div.woo-sc-box,
.course div.woo-sc-box,
.lesson div.woo-sc-box,
.quiz div.woo-sc-box {
  margin: 1.387em 0 1.618em 0;
  padding: 1em 1.618em;
  border: none!important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.course-container p.woo-sc-box:before,
.course p.woo-sc-box:before,
.lesson p.woo-sc-box:before,
.quiz p.woo-sc-box:before,
.course-container div.woo-sc-box:before,
.course div.woo-sc-box:before,
.lesson div.woo-sc-box:before,
.quiz div.woo-sc-box:before {
  font-family: 'FontAwesomeSensei';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  font-size: 1.387em;
  position: relative;
  top: .1em;
}
.course-container p.woo-sc-box.medium,
.course p.woo-sc-box.medium,
.lesson p.woo-sc-box.medium,
.quiz p.woo-sc-box.medium,
.course-container div.woo-sc-box.medium,
.course div.woo-sc-box.medium,
.lesson div.woo-sc-box.medium,
.quiz div.woo-sc-box.medium {
  padding: 18px 20px 18px 50px;
  font-size: 1.1em;
}
.course-container p.woo-sc-box.large,
.course p.woo-sc-box.large,
.lesson p.woo-sc-box.large,
.quiz p.woo-sc-box.large,
.course-container div.woo-sc-box.large,
.course div.woo-sc-box.large,
.lesson div.woo-sc-box.large,
.quiz div.woo-sc-box.large {
  padding: 25px 27px 25px 50px;
  font-size: 1.2em;
}
.course-container p.woo-sc-box.rounded,
.course p.woo-sc-box.rounded,
.lesson p.woo-sc-box.rounded,
.quiz p.woo-sc-box.rounded,
.course-container div.woo-sc-box.rounded,
.course div.woo-sc-box.rounded,
.lesson div.woo-sc-box.rounded,
.quiz div.woo-sc-box.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.course-container p.woo-sc-box a,
.course p.woo-sc-box a,
.lesson p.woo-sc-box a,
.quiz p.woo-sc-box a,
.course-container div.woo-sc-box a,
.course div.woo-sc-box a,
.lesson div.woo-sc-box a,
.quiz div.woo-sc-box a {
  text-decoration: underline;
}
.course-container p.woo-sc-box a:hover,
.course p.woo-sc-box a:hover,
.lesson p.woo-sc-box a:hover,
.quiz p.woo-sc-box a:hover,
.course-container div.woo-sc-box a:hover,
.course div.woo-sc-box a:hover,
.lesson div.woo-sc-box a:hover,
.quiz div.woo-sc-box a:hover {
  text-decoration: none;
}
.course-container p.woo-sc-box.alert,
.course p.woo-sc-box.alert,
.lesson p.woo-sc-box.alert,
.quiz p.woo-sc-box.alert,
.course-container div.woo-sc-box.alert,
.course div.woo-sc-box.alert,
.lesson div.woo-sc-box.alert,
.quiz div.woo-sc-box.alert {
  background: #ffd9c8;
}
.course-container p.woo-sc-box.alert:before,
.course p.woo-sc-box.alert:before,
.lesson p.woo-sc-box.alert:before,
.quiz p.woo-sc-box.alert:before,
.course-container div.woo-sc-box.alert:before,
.course div.woo-sc-box.alert:before,
.lesson div.woo-sc-box.alert:before,
.quiz div.woo-sc-box.alert:before {
  content: '\f071';
  color: #ed6c6c;
}
.course-container p.woo-sc-box.alert a,
.course p.woo-sc-box.alert a,
.lesson p.woo-sc-box.alert a,
.quiz p.woo-sc-box.alert a,
.course-container div.woo-sc-box.alert a,
.course div.woo-sc-box.alert a,
.lesson div.woo-sc-box.alert a,
.quiz div.woo-sc-box.alert a {
  color: #e73f3f;
}
.course-container p.woo-sc-box.alert a:hover,
.course p.woo-sc-box.alert a:hover,
.lesson p.woo-sc-box.alert a:hover,
.quiz p.woo-sc-box.alert a:hover,
.course-container div.woo-sc-box.alert a:hover,
.course div.woo-sc-box.alert a:hover,
.lesson div.woo-sc-box.alert a:hover,
.quiz div.woo-sc-box.alert a:hover {
  color: #e52828;
}
.course-container p.woo-sc-box.download,
.course p.woo-sc-box.download,
.lesson p.woo-sc-box.download,
.quiz p.woo-sc-box.download,
.course-container div.woo-sc-box.download,
.course div.woo-sc-box.download,
.lesson div.woo-sc-box.download,
.quiz div.woo-sc-box.download,
.course-container p.woo-sc-box.tick,
.course p.woo-sc-box.tick,
.lesson p.woo-sc-box.tick,
.quiz p.woo-sc-box.tick,
.course-container div.woo-sc-box.tick,
.course div.woo-sc-box.tick,
.lesson div.woo-sc-box.tick,
.quiz div.woo-sc-box.tick {
  background: #edfcd5;
}
.course-container p.woo-sc-box.download:before,
.course p.woo-sc-box.download:before,
.lesson p.woo-sc-box.download:before,
.quiz p.woo-sc-box.download:before,
.course-container div.woo-sc-box.download:before,
.course div.woo-sc-box.download:before,
.lesson div.woo-sc-box.download:before,
.quiz div.woo-sc-box.download:before,
.course-container p.woo-sc-box.tick:before,
.course p.woo-sc-box.tick:before,
.lesson p.woo-sc-box.tick:before,
.quiz p.woo-sc-box.tick:before,
.course-container div.woo-sc-box.tick:before,
.course div.woo-sc-box.tick:before,
.lesson div.woo-sc-box.tick:before,
.quiz div.woo-sc-box.tick:before {
  content: '\f019';
  color: #63a95f;
}
.course-container p.woo-sc-box.download a,
.course p.woo-sc-box.download a,
.lesson p.woo-sc-box.download a,
.quiz p.woo-sc-box.download a,
.course-container div.woo-sc-box.download a,
.course div.woo-sc-box.download a,
.lesson div.woo-sc-box.download a,
.quiz div.woo-sc-box.download a,
.course-container p.woo-sc-box.tick a,
.course p.woo-sc-box.tick a,
.lesson p.woo-sc-box.tick a,
.quiz p.woo-sc-box.tick a,
.course-container div.woo-sc-box.tick a,
.course div.woo-sc-box.tick a,
.lesson div.woo-sc-box.tick a,
.quiz div.woo-sc-box.tick a {
  color: #4e8b4a;
}
.course-container p.woo-sc-box.download a:hover,
.course p.woo-sc-box.download a:hover,
.lesson p.woo-sc-box.download a:hover,
.quiz p.woo-sc-box.download a:hover,
.course-container div.woo-sc-box.download a:hover,
.course div.woo-sc-box.download a:hover,
.lesson div.woo-sc-box.download a:hover,
.quiz div.woo-sc-box.download a:hover,
.course-container p.woo-sc-box.tick a:hover,
.course p.woo-sc-box.tick a:hover,
.lesson p.woo-sc-box.tick a:hover,
.quiz p.woo-sc-box.tick a:hover,
.course-container div.woo-sc-box.tick a:hover,
.course div.woo-sc-box.tick a:hover,
.lesson div.woo-sc-box.tick a:hover,
.quiz div.woo-sc-box.tick a:hover {
  color: #457a42;
}
.course-container p.woo-sc-box.tick:before,
.course p.woo-sc-box.tick:before,
.lesson p.woo-sc-box.tick:before,
.quiz p.woo-sc-box.tick:before,
.course-container div.woo-sc-box.tick:before,
.course div.woo-sc-box.tick:before,
.lesson div.woo-sc-box.tick:before,
.quiz div.woo-sc-box.tick:before {
  content: '\f00c';
}
.course-container p.woo-sc-box.info,
.course p.woo-sc-box.info,
.lesson p.woo-sc-box.info,
.quiz p.woo-sc-box.info,
.course-container div.woo-sc-box.info,
.course div.woo-sc-box.info,
.lesson div.woo-sc-box.info,
.quiz div.woo-sc-box.info {
  background: #eee;
}
.course-container p.woo-sc-box.info:before,
.course p.woo-sc-box.info:before,
.lesson p.woo-sc-box.info:before,
.quiz p.woo-sc-box.info:before,
.course-container div.woo-sc-box.info:before,
.course div.woo-sc-box.info:before,
.lesson div.woo-sc-box.info:before,
.quiz div.woo-sc-box.info:before {
  content: '\f05a';
}
.course-container p.woo-sc-box.info a,
.course p.woo-sc-box.info a,
.lesson p.woo-sc-box.info a,
.quiz p.woo-sc-box.info a,
.course-container div.woo-sc-box.info a,
.course div.woo-sc-box.info a,
.lesson div.woo-sc-box.info a,
.quiz div.woo-sc-box.info a {
  color: #3b3b3b;
}
.course-container p.woo-sc-box.info a:hover,
.course p.woo-sc-box.info a:hover,
.lesson p.woo-sc-box.info a:hover,
.quiz p.woo-sc-box.info a:hover,
.course-container div.woo-sc-box.info a:hover,
.course div.woo-sc-box.info a:hover,
.lesson div.woo-sc-box.info a:hover,
.quiz div.woo-sc-box.info a:hover {
  color: #2f2f2f;
}
.course-container p.woo-sc-box.note,
.course p.woo-sc-box.note,
.lesson p.woo-sc-box.note,
.quiz p.woo-sc-box.note,
.course-container div.woo-sc-box.note,
.course div.woo-sc-box.note,
.lesson div.woo-sc-box.note,
.quiz div.woo-sc-box.note {
  background: #fef6d2;
}
.course-container p.woo-sc-box.note:before,
.course p.woo-sc-box.note:before,
.lesson p.woo-sc-box.note:before,
.quiz p.woo-sc-box.note:before,
.course-container div.woo-sc-box.note:before,
.course div.woo-sc-box.note:before,
.lesson div.woo-sc-box.note:before,
.quiz div.woo-sc-box.note:before {
  content: '\f0f6';
}
.course-container p.woo-sc-box.normal,
.course p.woo-sc-box.normal,
.lesson p.woo-sc-box.normal,
.quiz p.woo-sc-box.normal,
.course-container div.woo-sc-box.normal,
.course div.woo-sc-box.normal,
.lesson div.woo-sc-box.normal,
.quiz div.woo-sc-box.normal {
  background: #eee;
  padding: 9px 15px;
}
.course-container p.woo-sc-box .view-quiz,
.course p.woo-sc-box .view-quiz,
.lesson p.woo-sc-box .view-quiz,
.quiz p.woo-sc-box .view-quiz,
.course-container div.woo-sc-box .view-quiz,
.course div.woo-sc-box .view-quiz,
.lesson div.woo-sc-box .view-quiz,
.quiz div.woo-sc-box .view-quiz {
  float: right;
}
.course-container a.button,
.course a.button,
.lesson a.button,
.quiz a.button,
.course-container a.comment-reply-link,
.course a.comment-reply-link,
.lesson a.comment-reply-link,
.quiz a.comment-reply-link,
.course-container #commentform #submit,
.course #commentform #submit,
.lesson #commentform #submit,
.quiz #commentform #submit,
.course-container .submit,
.course .submit,
.lesson .submit,
.quiz .submit,
.course-container input[type=submit],
.course input[type=submit],
.lesson input[type=submit],
.quiz input[type=submit],
.course-container input.button,
.course input.button,
.lesson input.button,
.quiz input.button,
.course-container button.button,
.course button.button,
.lesson button.button,
.quiz button.button {
  display: inline-block;
  padding: 5px 20px 4px;
  border: none;
  color: #fff;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  font-family: inherit;
  /* Make inputs use the correct typeface instead of the browser default */

  cursor: pointer;
  /* Inputs need pointers! */

  overflow: visible;
  width: auto;
  /* IE fix */

  line-height: 1.618em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #52a8e8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.course-container a.button:hover,
.course a.button:hover,
.lesson a.button:hover,
.quiz a.button:hover,
.course-container a.comment-reply-link:hover,
.course a.comment-reply-link:hover,
.lesson a.comment-reply-link:hover,
.quiz a.comment-reply-link:hover,
.course-container #commentform #submit:hover,
.course #commentform #submit:hover,
.lesson #commentform #submit:hover,
.quiz #commentform #submit:hover,
.course-container .submit:hover,
.course .submit:hover,
.lesson .submit:hover,
.quiz .submit:hover,
.course-container input[type=submit]:hover,
.course input[type=submit]:hover,
.lesson input[type=submit]:hover,
.quiz input[type=submit]:hover,
.course-container input.button:hover,
.course input.button:hover,
.lesson input.button:hover,
.quiz input.button:hover,
.course-container button.button:hover,
.course button.button:hover,
.lesson button.button:hover,
.quiz button.button:hover {
  text-decoration: none;
  background: #3b9de5;
}
.course-container a.button:active,
.course a.button:active,
.lesson a.button:active,
.quiz a.button:active,
.course-container a.comment-reply-link:active,
.course a.comment-reply-link:active,
.lesson a.comment-reply-link:active,
.quiz a.comment-reply-link:active,
.course-container #commentform #submit:active,
.course #commentform #submit:active,
.lesson #commentform #submit:active,
.quiz #commentform #submit:active,
.course-container .submit:active,
.course .submit:active,
.lesson .submit:active,
.quiz .submit:active,
.course-container input[type=submit]:active,
.course input[type=submit]:active,
.lesson input[type=submit]:active,
.quiz input[type=submit]:active,
.course-container input.button:active,
.course input.button:active,
.lesson input.button:active,
.quiz input.button:active,
.course-container button.button:active,
.course button.button:active,
.lesson button.button:active,
.quiz button.button:active {
  border-color: #005393;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3), 0 1px 0 #ffffff;
}
.course-container a.button.large,
.course a.button.large,
.lesson a.button.large,
.quiz a.button.large,
.course-container a.comment-reply-link.large,
.course a.comment-reply-link.large,
.lesson a.comment-reply-link.large,
.quiz a.comment-reply-link.large,
.course-container #commentform #submit.large,
.course #commentform #submit.large,
.lesson #commentform #submit.large,
.quiz #commentform #submit.large,
.course-container .submit.large,
.course .submit.large,
.lesson .submit.large,
.quiz .submit.large,
.course-container input[type=submit].large,
.course input[type=submit].large,
.lesson input[type=submit].large,
.quiz input[type=submit].large,
.course-container input.button.large,
.course input.button.large,
.lesson input.button.large,
.quiz input.button.large,
.course-container button.button.large,
.course button.button.large,
.lesson button.button.large,
.quiz button.button.large {
  font-size: 1.387em;
}
.course-container a.button.small,
.course a.button.small,
.lesson a.button.small,
.quiz a.button.small,
.course-container a.comment-reply-link.small,
.course a.comment-reply-link.small,
.lesson a.comment-reply-link.small,
.quiz a.comment-reply-link.small,
.course-container #commentform #submit.small,
.course #commentform #submit.small,
.lesson #commentform #submit.small,
.quiz #commentform #submit.small,
.course-container .submit.small,
.course .submit.small,
.lesson .submit.small,
.quiz .submit.small,
.course-container input[type=submit].small,
.course input[type=submit].small,
.lesson input[type=submit].small,
.quiz input[type=submit].small,
.course-container input.button.small,
.course input.button.small,
.lesson input.button.small,
.quiz input.button.small,
.course-container button.button.small,
.course button.button.small,
.lesson button.button.small,
.quiz button.button.small {
  font-size: .857em;
}
.course-container a.button.course-complete,
.course a.button.course-complete,
.lesson a.button.course-complete,
.quiz a.button.course-complete,
.course-container a.comment-reply-link.course-complete,
.course a.comment-reply-link.course-complete,
.lesson a.comment-reply-link.course-complete,
.quiz a.comment-reply-link.course-complete,
.course-container #commentform #submit.course-complete,
.course #commentform #submit.course-complete,
.lesson #commentform #submit.course-complete,
.quiz #commentform #submit.course-complete,
.course-container .submit.course-complete,
.course .submit.course-complete,
.lesson .submit.course-complete,
.quiz .submit.course-complete,
.course-container input[type=submit].course-complete,
.course input[type=submit].course-complete,
.lesson input[type=submit].course-complete,
.quiz input[type=submit].course-complete,
.course-container input.button.course-complete,
.course input.button.course-complete,
.lesson input.button.course-complete,
.quiz input.button.course-complete,
.course-container button.button.course-complete,
.course button.button.course-complete,
.lesson button.button.course-complete,
.quiz button.button.course-complete {
  background: #63a95f;
}
.course-container a.button.course-complete:hover,
.course a.button.course-complete:hover,
.lesson a.button.course-complete:hover,
.quiz a.button.course-complete:hover,
.course-container a.comment-reply-link.course-complete:hover,
.course a.comment-reply-link.course-complete:hover,
.lesson a.comment-reply-link.course-complete:hover,
.quiz a.comment-reply-link.course-complete:hover,
.course-container #commentform #submit.course-complete:hover,
.course #commentform #submit.course-complete:hover,
.lesson #commentform #submit.course-complete:hover,
.quiz #commentform #submit.course-complete:hover,
.course-container .submit.course-complete:hover,
.course .submit.course-complete:hover,
.lesson .submit.course-complete:hover,
.quiz .submit.course-complete:hover,
.course-container input[type=submit].course-complete:hover,
.course input[type=submit].course-complete:hover,
.lesson input[type=submit].course-complete:hover,
.quiz input[type=submit].course-complete:hover,
.course-container input.button.course-complete:hover,
.course input.button.course-complete:hover,
.lesson input.button.course-complete:hover,
.quiz input.button.course-complete:hover,
.course-container button.button.course-complete:hover,
.course button.button.course-complete:hover,
.lesson button.button.course-complete:hover,
.quiz button.button.course-complete:hover {
  background: #579b53;
}
.course-container a.button.course-delete,
.course a.button.course-delete,
.lesson a.button.course-delete,
.quiz a.button.course-delete,
.course-container a.comment-reply-link.course-delete,
.course a.comment-reply-link.course-delete,
.lesson a.comment-reply-link.course-delete,
.quiz a.comment-reply-link.course-delete,
.course-container #commentform #submit.course-delete,
.course #commentform #submit.course-delete,
.lesson #commentform #submit.course-delete,
.quiz #commentform #submit.course-delete,
.course-container .submit.course-delete,
.course .submit.course-delete,
.lesson .submit.course-delete,
.quiz .submit.course-delete,
.course-container input[type=submit].course-delete,
.course input[type=submit].course-delete,
.lesson input[type=submit].course-delete,
.quiz input[type=submit].course-delete,
.course-container input.button.course-delete,
.course input.button.course-delete,
.lesson input.button.course-delete,
.quiz input.button.course-delete,
.course-container button.button.course-delete,
.course button.button.course-delete,
.lesson button.button.course-delete,
.quiz button.button.course-delete {
  background: #ed6c6c;
}
.course-container a.button.course-delete:hover,
.course a.button.course-delete:hover,
.lesson a.button.course-delete:hover,
.quiz a.button.course-delete:hover,
.course-container a.comment-reply-link.course-delete:hover,
.course a.comment-reply-link.course-delete:hover,
.lesson a.comment-reply-link.course-delete:hover,
.quiz a.comment-reply-link.course-delete:hover,
.course-container #commentform #submit.course-delete:hover,
.course #commentform #submit.course-delete:hover,
.lesson #commentform #submit.course-delete:hover,
.quiz #commentform #submit.course-delete:hover,
.course-container .submit.course-delete:hover,
.course .submit.course-delete:hover,
.lesson .submit.course-delete:hover,
.quiz .submit.course-delete:hover,
.course-container input[type=submit].course-delete:hover,
.course input[type=submit].course-delete:hover,
.lesson input[type=submit].course-delete:hover,
.quiz input[type=submit].course-delete:hover,
.course-container input.button.course-delete:hover,
.course input.button.course-delete:hover,
.lesson input.button.course-delete:hover,
.quiz input.button.course-delete:hover,
.course-container button.button.course-delete:hover,
.course button.button.course-delete:hover,
.lesson button.button.course-delete:hover,
.quiz button.button.course-delete:hover {
  background: #ea5555;
}
