/*-----------------------------------------------------------------------------------*/
/* Backend Global Stylesheet */
/*-----------------------------------------------------------------------------------*/

$sensei-notice-icon-height: 30px;
$sensei-notice-icon-width: 30px;

/* Sensei Notice */
.wp-core-ui .notice {
	&.is-dismissible {
		padding: 10px 16px;
	}
}

.sensei-notice {
	@import '../shared/styles/wp-admin';

	align-items: flex-start;
	border-left-color: $primary;
	display: flex;
	gap: 10px;
	min-height: 40px;

	&__icon {
		color: #26212E;
		flex: 0 0 auto;
		margin-top: 0.5em;
		width: $sensei-notice-icon-width;
		height: $sensei-notice-icon-height;
	}

	&__wrapper {
		padding: 0;
		font-size: 14px;

		@media (min-width: 500px) {
			display: flex;
			flex: 1 1 auto;
			gap: 10px;
		}
	}

	&__content a {
		color: #000;
	}

	&__heading {
		margin: 5px 0;
		font-weight: bold;
	}

	&__actions {
		margin: 0.5em 0 0.5em auto;

		.button {
			padding: 3px 12px;
		}
	}

	.notice-dismiss {
		margin: 0.5em 0 0 auto;
		padding: 0;
		position: static;
	}
}

/*  Sensei Icon Font */
@font-face {
	font-family: 'sensei';
	src: url( '../css/fonts/sensei/sensei.eot' );
	src: url( '../css/fonts/sensei/sensei.eot?#iefix' ) format( 'embedded-opentype' ),
		url( '../css/fonts/sensei/sensei.woff2' ) format( 'woff2' ),
		url( '../css/fonts/sensei/sensei.woff' ) format( 'woff' ),
		url( '../css/fonts/sensei/sensei.ttf' ) format( 'truetype' ),
		url( '../css/fonts/sensei/sensei.svg#sensei' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

/*  Sensei icon */
body #toplevel_page_sensei div.wp-menu-image:before {
	font-family: 'sensei' !important;
	content: "\f101";
}

/* Lessons Icon */
body #menu-posts-lesson div.wp-menu-image:before {
	content: '\f163' !important;
}

/* Course Icon */
body #menu-posts-course div.wp-menu-image:before {
	content: '\f331' !important;
}

/* Questions Icon */
body #menu-posts-question div.wp-menu-image:before {
	content: '\f223' !important;
}

#dashboard_right_now a.course-count:before,
#dashboard_right_now span.course-count:before {
	content: '\f331';
}

#dashboard_right_now a.lesson-count:before,
#dashboard_right_now span.lesson-count:before {
	content: '\f163';
}

#dashboard_right_now a.question-count:before,
#dashboard_right_now span.question-count:before {
	content: '\f223';
}

/* Sensei Menu */
#toplevel_page_sensei li.wp-first-item {
	display: none;
}

/* Course Menu Icons */
li.menu-icon-lesson .wp-menu-image img,
li.menu-icon-course .wp-menu-image img {
	display: none;
}

.edit-php.post-type-quiz .add-new-h2 {
	display: none;
}

.sensei-badge {
	display: inline-block;
	padding: 0 5px;
	border-radius: 9px;
	font-size: 12px;

	&--success {
		background-color: #28a745;
		color: #ffffff;
	}

	&--after-text {
		margin-left: 5px;
	}
}
