/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.4.5
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

/*-----------------------------------------------------------------------------------*/
/* Backend Global Stylesheet */
/*-----------------------------------------------------------------------------------*/

/*  Sensei icon */
body #toplevel_page_sensei div.wp-menu-image:before {
	background: none;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons' !important;
  	content: "\f118" !important;
  	vertical-align: top;
  	display: inline-block;
}
#icon-woothemes-sensei.icon32 {
	background: transparent url(../images/sensei-icons.png) no-repeat left top;
}

/* Lessons Icon */
body #menu-posts-lesson div.wp-menu-image:before {
	background: none;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons' !important;
  	content: "\f331" !important;
  	vertical-align: top;
  	display: inline-block;
}
#icon-edit.icon32-posts-lesson, #icon-edit.icon32-posts-course {
	background: transparent url(../images/lessons-icons.png) no-repeat left top;
}


/*  Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2) {
	/* 	Sensei */
	#icon-woothemes-sensei.icon32 {
		background-image: url(../images/sensei-icons@x2.png);
		background-size: 32px 187px;
	}
}

/* Sensei Menu */
#toplevel_page_sensei li.wp-first-item { display: none; }
/* Course Menu Icons */
li.menu-icon-lesson .wp-menu-image img, li.menu-icon-course .wp-menu-image img { display: none; }