/*
Plugin Name: Sensei
Plugin URI: http://woothemes.com/
Description: Sensei by WooThemes is the best Learning Management System ever!
Version: 1.0.0
Author: WooThemes
Author URI: http://woothemes.com/
License: GPL version 2 or later - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

/*-----------------------------------------------------------------------------------*/
/* Backend Global Stylesheet */
/*-----------------------------------------------------------------------------------*/

/*  Sensei icon */
#toplevel_page_sensei .wp-menu-image {
	background: none;
	background-image: url(../images/sensei-icons.png);
	background-position: 7px -132px !important;
	background-repeat: no-repeat;
}
#toplevel_page_sensei.wp-menu-open .wp-menu-image, #toplevel_page_sensei:hover .wp-menu-image {
	background-position: 7px -164px !important;
}
#icon-woothemes-sensei.icon32 { 
	background: transparent url(../images/sensei-icons.png) no-repeat left top; 
}

/* Lessons Icon */
#menu-posts-lesson .wp-menu-image {
	background: none;
	background-image: url(../images/lessons-icons.png);
	background-position: 7px -132px !important;
	background-repeat: no-repeat;
}
#menu-posts-lesson.wp-menu-open .wp-menu-image, #menu-posts-lesson:hover .wp-menu-image {
	background-position: 7px -164px !important;
}
#icon-edit.icon32-posts-lesson { 
	background: transparent url(../images/lessons-icons.png) no-repeat left top; 
}


/*  Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2) {
	/* 	Sensei */
	#toplevel_page_sensei .wp-menu-image {
		background-image: url(../images/sensei-icons@x2.png);
		background-size: 32px 187px;
	}
	#icon-woothemes-sensei.icon32 { 
		background-image: url(../images/sensei-icons@x2.png); 
		background-size: 32px 187px;
	}
	
	/* Lessons */
	/*#menu-posts-lesson .wp-menu-image {
		background-image: url(../images/lessons-icons@x2.png);
		background-size: 32px 187px;
	}
	#icon-edit.icon32-posts-lesson { 
		background-image: url(../images/lessons-icons@x2.png); 
		background-size: 32px 187px;
	}*/
}

/* Sensei Menu Icons */
/* Course Menu Icons */
li.menu-icon-lesson .wp-menu-image img, li.menu-icon-course .wp-menu-image img { display: none; }
#wpwrap li.menu-icon-course div.wp-menu-image  { background: url(../images/icon_course_16.png) no-repeat left top; width: 20px; height: 16px; margin-left: 7px; margin-top: 5px; }
#wpwrap li.menu-icon-course.current div.wp-menu-image, #wpwrap li.menu-icon-course:hover div.wp-menu-image, #wpwrap li.menu-icon-course.wp-has-current-submenu div.wp-menu-image  { background-position: left -16px; }
#icon-woothemes-sensei, #icon-post.icon32-posts-course, #icon-edit.icon32-posts-course { background: transparent url(../images/icon_course_32.png) no-repeat left top; }
/* Lesson Menu Icons */
/* Quiz Menu Icons */
li.menu-icon-quiz .wp-menu-image a img { display: none; }
#wpwrap li.menu-icon-quiz div.wp-menu-image  { background: url(../images/icon_course_16.png) no-repeat left top; width: 20px; height: 16px; margin-left: 7px; margin-top: 5px; }
#wpwrap li.menu-icon-quiz.current div.wp-menu-image, #wpwrap li.menu-icon-quiz:hover div.wp-menu-image, #wpwrap li.menu-icon-quiz.wp-has-current-submenu div.wp-menu-image  { background-position: left -16px; }
#icon-woothemes-sensei, #icon-post.icon32-posts-quiz, #icon-edit.icon32-posts-quiz { background: transparent url(../images/icon_course_32.png) no-repeat left top; }
/* Question Menu Icons */
li.menu-icon-question .wp-menu-image a img { display: none; }
#wpwrap li.menu-icon-question div.wp-menu-image  { background: url(../images/icon_course_16.png) no-repeat left top; width: 20px; height: 16px; margin-left: 7px; margin-top: 5px; }
#wpwrap li.menu-icon-question.current div.wp-menu-image, #wpwrap li.menu-icon-question:hover div.wp-menu-image, #wpwrap li.menu-icon-question.wp-has-current-submenu div.wp-menu-image  { background-position: left -16px; }
#icon-woothemes-sensei, #icon-post.icon32-posts-question, #icon-edit.icon32-posts-question { background: transparent url(../images/icon_course_32.png) no-repeat left top; }
/* Page icons */
/* Lesson Write Panel Styling */
a.lesson_course_cancel { text-decoration: underline; }
a.lesson_question_cancel { text-decoration: underline; }
#lesson-info input[type=text] { margin-bottom: 10px; }
#lesson-quiz input[type=text] { margin-bottom: 10px; }
#lesson-course-details input, #lesson-course-details select { margin-bottom: 10px; }
tr.question-quick-edit td { padding-bottom: 10px; }
#add-quiz-main button.add_quiz { margin-left: 5px; }
select.question-type-select { margin-bottom: 10px; }
div.question_boolean_fields { margin-bottom: 10px; }
/* Chosen styling */
div.chzn-container { width: 256px !important; margin-bottom: 10px; display: block;}
div.chzn-drop { width: 254px !important; }
div.chzn-search input { width: 246px !important; }
/* Course Write Panel Styling */
/* Grading */
.wrap div.grading-notice { margin: 25px 0 0px; }