/*
  This style files are only required when the current theme don't provide learning mode customizations.
  Block based themes should declare add_theme_support('sensei-learning-mode'); to enable customization via theme.json
*/
@import 'sensei-course-theme/theme-fixes';
@import 'sensei-course-theme/buttons';

.sensei-course-theme__frame {
	a, [class*='sensei-'] a, a[class*='sensei-'] {
		text-decoration: none;

		&:hover, &:hover * {
			text-decoration: underline;
		}
	}

	font-family: 'Inter', sans-serif;

	* {
		font-family: 'Inter', sans-serif;
	}
}

.wp-block-sensei-lms-course-title {
	padding: 1px 2px;
	margin: 0;
	font-weight: 600;
}

.wp-block-sensei-lms-course-theme-lesson-module {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-style: normal;
}

.sensei-course-theme-lesson-actions {
	padding: 0;
	margin: 0;
}

.sensei-course-theme-course-progress {
	color: #7f7e7e;
}
