@import 'fontawesome';

/**
 * Course Completed Page
 */
.course-completed {
	&.singular .entry-header,
	.entry-title {
		border: 0;
		height: 0;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
}
