body,
.editor-styles-wrapper {
	.sensei-pattern-header-link {
		font-size: var( --wp--preset--font-size--x-small, 1.125rem );
		font-family: var(--wp--preset--font-family--system);
	}

	.sensei-pattern-no-underline a {
		text-decoration: none;
	}

	.sensei-landing-pattern-header {
		h1 {
			font-size: var( --wp--preset--font-size--xx-large );
			font-family: var( --wp--preset--font-family--heading );
		}

		p {
			font-size: var( --wp--custom--typography--font-sizes--normal, 1.5rem );
			font-family: var( --wp--preset--font-family--body );
		}

		.wp-block-button__link {
			font-size: var( --wp--custom--typography--font-sizes--button, 1.3rem );
			font-family: var( --wp--preset--font-family--heading );
		}
	}

	.wp-sensei-testimonial-pattern {
		h2 {
			font-size: var( --wp--preset--font-size--x-large, 3rem );
			font-family: var( --wp--preset--font-family--heading );
		}

		h2 + p {
			font-weight: 700;
		}

		p {
			font-size: var( --wp--preset--font-size--x-small, 1.125rem );
			font-family: var(--wp--preset--font-family--system);
			font-weight: 400;
		}
	}

	.sensei-blog-posts-pattern {
		.wp-block-post-title {
			font-size: var( --wp--preset--font-size--x-large, 3rem );
			font-family: var( --wp--preset--font-family--header );
		}

		.wp-block-post-excerpt__excerpt {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
		}
	}

	.sensei-pattern-mail-list .wp-block-button__link {
		font-size: var( --wp--custom--typography--font-sizes--button );
	}
}
