body,
.editor-styles-wrapper {
	.sensei-landing-pattern-header {
		h1 {
			font-size: var(--wp--preset--font-size--xx-large, 48px);
			line-height: var(--wp--preset--font-size--xx-large, 48px);
		}

		p {
			font-size: var(--wp--preset--font-size--medium);
		}
	}

	.sensei-blog-posts-pattern {
		.wp-block-post-template {
			margin: 0;
			padding: 0;
		}

		.wp-block-post-excerpt__excerpt {
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
		}
	}

	.sensei-pattern-header-link {
		font-family: var(--wp--preset--font-family--system);
		font-size: var(--wp--preset--font-size--small);
	}

	.wp-sensei-testimonial-pattern p {
		font-family: var(--wp--preset--font-family--system);
		font-size: var(--wp--preset--font-size--small);
	}
}
