@import './sensei-course-theme/prev-next-lesson';
@import './sensei-course-theme/fonts';
@import './course-theme/course-outline-view.scss';

.sensei-course-theme {
	background-color: #fff;

	&__header,
	&__sidebar {
		font-family: 'Inter', sans-serif;

	}

	&__header {
		border-bottom: 10px solid #eee;
		padding: 24px;
	}

	&__sidebar {
		border-right: 1px solid #ccc;
		flex: 0 0 300px!important;
		padding: 24px;
		padding-right: 16px;
	}

	&__main-content {
		padding: 24px;
		flex: 1 1 auto !important;
	}
}
