@import '~@wordpress/base-styles/variables';

$gray-700: #757575;
$gray-400: #ccc;

@import 'question-block/question-block.editor';
@import 'quiz-block/questions-modal/questions-modal-style';
@import 'single-question.editor';
@import '../../shared/components/text-appender/style';

.wp-block[data-type='sensei-lms/quiz'] {
	.editor-styles-wrapper & {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		position: relative;
	}

	& > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
		margin: auto;
		position: relative;
	}

	& > .block-editor-inner-blocks > .block-editor-block-list__layout {
		margin-left: 0px;
	}

	&:not(.is-selected):not(.has-child-selected) {
		.wp-block:not(:first-child):nth-last-child(2) .sensei-lms-question-block.is-draft {
			display: none;
		}
	}
}

.sensei-lms-quiz-block {
	&__separator {
		position: relative;
		text-align: center;
		display: flex;
		align-items: center;
		margin-top: $default-block-margin;
		margin-bottom: $default-block-margin;

		&::before, &::after {
			content: '';
			flex: 1;
			background-color: currentColor;
			opacity: 0.5;
			height: 1px;
		}

		& > span {
			font-size: $default-font-size;
			position: relative;
			text-transform: uppercase;
			font-weight: 600;
			font-family: $default-font;
			opacity: 0.7;
			border-radius: 4px;
			padding: 6px 24px;
		}
	}

	&__pre-publish-validation {
		&__notice {
			margin: 0;
			.components-notice__action.components-button.is-link {
				display: block;
				margin: 6px 0;
			}
		}
	}
}

.sensei-lms-quiz-block-panel {
	&__row-title {
		flex-wrap: wrap;

		h2 {
			flex-basis: 100%;
			font-size: calc( #{$default-font-size} + 1px );
			font-weight: normal;
		}

		.components-base-control {
			flex-basis: 48%;
			margin-bottom: 8px;
		}
	}

	&__row-item.components-base-control {
		flex-basis: 100%;
		margin-bottom: 12px;
	}
}

.sensei-lms-block-validation-notice {

	display: inline-block;
	margin: 4px 0;

	.components-notice__content {
		display: flex;
		&, * {
			color: $gray-900!important;
		}
	}

	&__icon {
		fill: $gray-900;
		margin-right: 4px;
	}
}
