body.post-type-question {
	.edit-post-visual-editor__post-title-wrapper, .editor-post-title {
		display: none;
	}

	.sensei-lms-question-block__index {
		display: none;
	}

	.editor-styles-wrapper {
		padding: 64px 0;
	}
}