@keyframes slideInFromBottom {
	0% {
		transform: translateY(500px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 100%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
