$small-screen-break: 600px;
$columns-break: 1000px;

$small-vertical-padding: 20px;
$small-horizontal-padding: 20px;
$big-vertical-padding: 60px;
$big-horizontal-padding: 80px;

@import '../css/font-recoleta';
@import 'fullscreen';
@import 'animations';
@import 'welcome/style';
@import 'purpose/style';
@import 'usage-tracking/style';
@import 'newsletter/style';
@import 'progress-bar/style';

.sensei-setup-wizard-page {
	overflow-x: hidden;
	background-color: #b7c9be;
}

.sensei-setup-wizard {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: #000;
	font-size: 16px;

	@media (min-width: $small-screen-break) {
		font-size: 18px;
	}

	a {
		color: inherit;
		text-decoration: underline;
	}

	p {
		font-size: 16px;
		line-height: 1.4;
		margin: 0 0 32px;

		@media (min-width: $small-screen-break) {
			font-size: 18px;
		}
	}

	h2, h3 {
		color: #000;
	}

	&__sensei-logo {
		display: flex;
		margin: $small-horizontal-padding;
		align-items: center;
		font-family: Recoleta, sans-serif;
		font-size: 18px;

		@media (min-width: $small-screen-break) {
			margin: 24px;
		}

		> svg {
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}
	}

	&__step-title {
		font-family: Recoleta, sans-serif;
		font-size: 28px;
		font-weight: 400;
		line-height: 1.1;
		margin: 0 0 12px;

		@media (min-width: $small-screen-break) {
			font-size: 44px;
		}
	}

	// Container.
	&__container {
		flex: 1;
		padding: $small-vertical-padding $small-horizontal-padding;

		@media (min-width: $small-screen-break) {
			padding: $big-vertical-padding $big-horizontal-padding;
		}
	}

	// Main loader.
	&__main-loader {
		flex: 1;
		align-self: center;
	}

	// Button styles.
	&__button {
		border-radius: 4px;
		padding: 10px 24px;
		font-size: 14px;
		cursor: pointer;

		&--primary {
			background-color: #101517;
			color: #ffffff;
			border: none;
		}

		&--secondary {
			color: #101517;
			border: solid 1px currentColor;
			background-color: transparent
		}

		&--link {
			padding: 0;
			border: none;
			background: transparent;
			text-decoration: underline;
		}

		&:disabled,
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	// Text control.
	&__text-control {
		.components-base-control__label {
			font-size: 14px;
		}

		.components-text-control__input {
			height: 36px;
			border-radius: 5px;
			margin: 0;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	// Actions.
	&__actions {
		&--full-width {
			text-align: center;

			@media (min-width: $small-screen-break) {
				text-align: left;
			}

			> * {
				width: 100%;

				@media (min-width: $small-screen-break) {
					width: auto;
				}
			}
		}
	}

	&__action-skip {
		padding-top: 18px;
		display: block;

		a {
			font-size: 14px;
		}
	}

	&__submit-error {
		margin-bottom: 32px;
	}

	&__slide-in-from-bottom-animation {
		animation: 0.5s slideInFromBottom;
	}

	// Columns.
	&__columns {
		display: flex;
		flex-direction: column;
		height: 100%;

		@media (min-width: $columns-break) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__columns-content {
		padding-bottom: 30px;

		@media (min-width: $columns-break) {
			width: 30%;
			min-width: 370px;
			padding-bottom: 0;
		}
	}
}

// Background animation with the books illustration.
.sensei-setup-wizard {
	background-image: url("../images/onboarding-bottom-left-illustration.png"), url("../images/onboarding-top-right-illustration.png");
	background-position: -346px 100%, calc( 100% + 282px ) 0;
	background-repeat: no-repeat;
	transition: 0.5s background-position;
	background-size: auto 220px;

	@media (min-width: 1100px) and (min-height: 700px) {
		background-size: auto;
	}

	@at-root {
		.sensei-setup-wizard-page--welcome & {
			@media (min-height: 460px) {
				background-position: -35px 102%, calc( 100% + 100px ) 0;
			}

			@media (min-width: 1100px) and (min-height: 700px) {
				background-position: 0 100%, 100% 0;
			}
		}
	}
}
