.sensei-setup-wizard {
	&__newsletter-illustration {
		margin: 0 0 (-$small-vertical-padding) (-$small-horizontal-padding);
		flex: 1;
		animation: 0.5s slideInFromRight;
		background: no-repeat url("../images/onboarding-newsletter-illustration.png");
		background-size: 100% auto;

		@media (min-width: $columns-break) {
			flex: none;
			width: 50%;
		}

		@media (min-width: $small-screen-width) {
			margin: 0 (-28px -$big-horizontal-padding) (-$big-vertical-padding) (-28px -$big-horizontal-padding);
		}
	}
}
