.sensei-setup-wizard {
	&__newsletter-illustration {
		margin: 0 (-$small-horizontal-padding) (-$small-vertical-padding);
		flex: 1;
		animation: 0.5s slideInFromRight;
		background: no-repeat url("../images/onboarding-newsletter-illustration.png") 50% 0;
		background-size: 130% auto;

		@media (min-width: $small-screen-break) {
			background-size: 100% auto;
			margin: 0 (-$big-horizontal-padding) (-$big-vertical-padding);
		}

		@media (min-width: $columns-break) {
			flex: none;
			width: calc( 50% + 28px + $big-horizontal-padding );
			margin-right: -28px -$big-horizontal-padding;
			margin-bottom: -$big-vertical-padding;
			background-position: 0 0;
		}
	}
}

.sensei-signup-form {
	text-align: left;

	@media (min-width: $columns-break) {
		display: flex;
		align-items: flex-end;

		&__text-control {
			flex: 1;
		}
	}

	&__button {
		width: 100%;
		margin-top: 18px;

		@media (min-width: $columns-break) {
			width: auto;
			white-space: nowrap;
			margin-left: 8px;
		}
	}
}
