.wp-block-sensei-lms-button-take-course {

	.block-editor-rich-text {
		display: block;
	}

	&.has-text-align-full {
		text-align: center;

		.wp-block-button__link {
			display: block;
			width: 100%;
			flex: 1;
		}
	}

	.wp-block-button__link:disabled {
		pointer-events: none;
		opacity: 0.5;
		filter: grayscale(100%);
	}
}