body, .wp-site-blocks.is-root-container {
	height: 100vh;
}

body {
	padding: 8px;
	--wp--custom--gap--baseline: 0px;
	--bg-color: none;
}

.wp-block {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks, .wp-block,
.sensei-learning-mode__frame .wp-block[data-type='core/group'].wp-block[data-type='core/group'].wp-block[data-type='core/group'],
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container .sensei-learning-mode__frame.wp-block[data-type='sensei-lms/ui'] {
	max-width: none;
	margin: 0;
}

.sensei-learning-mode__sidebar-toggle {
	display: block;
	width: 24px;
	height: 24px;
}

.wp-block.sensei-learning-mode {
	&__header, &__sidebar {
		position: relative;
		top: unset;
		left: unset;
		right: unset;
		bottom: unset;
	}

	&__columns {
		display: flex;
		height: 100%;
		margin: 0 !important;
	}
	&__main-content, &__main-content__container, &__sidebar ~ &__main-content {
		margin: 0 auto !important;
	}

	&__header ~ &__columns {
		height: calc(100% - var(--header-height));
	}
	&__header + * {
		margin-top: unset !important;
	}

}

.wp-block-post-content {
	padding: 12px 0;
}

.wp-block-post-title {
	font-size: 48px !important;
}

input, textarea {
	border: none;
	padding: 0;
}

.sensei-learning-mode__button {
	pointer-events: none;

	&:hover {
		cursor: default;
	}
}
