@import './blockbase-ponyfill';
@import './global-styles';

a {
	color: var(--primary-color);
}

input, textarea {
	font-size: inherit;
}

::selection {
	background-color: var(--primary-color);
	color: var(--primary-contrast-color);
}
.sensei-learning-mode
{
	&__main-content {
		padding: var(--content-padding);

		.alignfull:not(.entry-content) {
			margin-left: calc(-1 * var(--content-padding));
			margin-right: calc(-1 * var(--content-padding));

		}
	}
}