.wp-block-sensei-lms-course-theme-course-progress-bar {
	height: var(--header-progress-bar-height, 4px);
	background-color: var(--border-color);
	margin: 0;
	width: 100%;

	:first-child {
		background-color: #30968B;
		height: var(--header-progress-bar-height, 4px);
	}

	&.wp-block:not(.has-background) {
		background-color: var(--border-color);
	}
}

body .is-layout-flow > * + .wp-block-sensei-lms-course-theme-course-progress-bar {
  margin: 0;
}
