@import '../../../shared/styles/collapsible-content';

@mixin text-gray() {
	opacity: 0.7;
}

.editor-styles-wrapper .sensei-lms-course-navigation,
.sensei-lms-course-navigation {
	&__modules, &__lessons, &-module__lessons {
		&, li {
			list-style: none;
			margin: 0;
		}

		padding-left: 0;
		margin: 0;
	}

	&__modules + &__lessons {
		border-top: 1px dotted var(--border-color, #1E1E1E);
		margin-top: 6px;
		padding-top: 6px;
	}
}

.sensei-lms-course-navigation-module {
	.sensei-collapsible__toggle {
		display: flex;
		align-items: flex-start;
		width: 100%;
		margin: 12px 0;
		padding: 0;
		border: unset;
		background: unset !important;
		color: inherit !important;

		&:hover {
			color: var(--sensei-primary-color) !important;
			text-decoration: underline;
		}

		.sensei-lms-course-navigation-module__collapsible-icon {
			width: 24px;
			height: 24px;
		}

		&.sensei-collapsed .sensei-lms-course-navigation-module__collapsible-icon {
			transform: rotate(180deg);
		}
	}

	&__title {
		flex: 1;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		text-align: left;
		margin: 0;
	}

	&__button {
		color: inherit;
		text-transform: inherit;
		background: none !important;
	}

	&__summary {
		font-size: 13px;
		@include text-gray;
		visibility: hidden;
		overflow: hidden;
		max-height: 0;
		position: relative;
		top: -12px;
		transition-delay: 150ms;
	}

	&__lessons.sensei-collapsed ~ &__summary {
		visibility: visible;
		max-height: 50px;
	}
}

.sensei-lms-course-navigation-lesson {
	display: flex;
	padding: 10px 1px;

	&__link {
		flex: 1;
		display: flex;
		color: inherit;
	}

	&__title {
		flex: 1;
		padding: 0 12px;
		font-size: 14px;
		font-weight: 300;
	}

	&__extra {
		padding-left: 6px;
		margin-top: 1px; // Needed to compensate the font-size difference.
		font-size: 13px;
		@include text-gray;
	}

	&__status {
		width: 12px;
		height: 12px;
		margin-top: 4px;
		fill: currentColor;
	}

	&.status-locked,
	&.status-not-started &__status {
		@include text-gray;
	}

	&.current-lesson &__title {
		font-weight: 700;
	}
}
