.wp-block-sensei-lms-course-title {
	color: #1E1E1E;
	font-size: clamp(0.875rem, 0.696rem + 0.476vw, 1.125rem);
	font-weight: 600;
	line-height: 1.167;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
