.wp-block-sensei-lms-course-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	& > * {
		font-size: inherit;
		color: inherit;
	}
	& > *:hover {
		transition: inherit;
	}

	a {
		transition: none;
	}
}
