@import '../../../shared/styles/collapsible-content';
@import '../colors';

.editor-styles-wrapper .sensei-lms-course-navigation,
.sensei-lms-course-navigation {
	&__modules, &__lessons, &-module__lessons {
		&, li {
			list-style: none;
			margin: 0;
		}

		padding-left: 0;
		margin: 0;
	}

	&__modules + &__lessons {
		border-top: 1px dotted var(--border-color, $sensei-text);
		margin-top: 6px;
		padding-top: 6px;
	}
}

.sensei-lms-course-navigation-module {
	.sensei-collapsible__toggle {
		align-items: flex-start;
		background: unset !important;
		border: unset;
		color: $sensei-text;
		display: flex;
		padding: 0;
		width: 100%;

		&:hover h3 {
			text-decoration: underline;
		}

		.sensei-lms-course-navigation-module__collapsible-icon {
			width: 24px;
			height: 24px;
		}

		&.sensei-collapsed .sensei-lms-course-navigation-module__collapsible-icon {
			transform: rotate(180deg);
		}

		> h3 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			margin: 0;
			font-size: 18px;
		}
	}
  
  &__title {
		color: var(--sensei-primary-color);
		flex: 1;
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.33;
		margin: 0;
		text-align: left;
  }

	&__button {
		color: inherit;
		text-transform: inherit;
		background: none !important;
	}

	&__summary {
		color: $sensei-lesson-meta;
		font-size: 0.8125rem;
		max-height: 0;
		overflow: hidden;
		position: relative;
		top: -12px;
		transition-delay: 150ms;
		visibility: hidden;
	}

	&__lessons.sensei-collapsed ~ &__summary {
		visibility: visible;
		max-height: 50px;
	}
}

.sensei-lms-course-navigation-lesson {
	display: flex;
	padding: 10px 1px;

	&__link {
		flex: 1;
		display: flex;
	}

	&__title {
		color: inherit;
		flex: 1;
		font-size: 0.875rem;
		font-weight: 300;
		padding: 0 12px;
	}

	&__extra {
		color: $sensei-lesson-meta;
		font-size: 0.8125rem;
		margin-top: 1px; // Needed to compensate the font-size difference.
		padding-left: 6px;
	}

	&__status {
		width: 12px;
		height: 12px;
		margin-top: 4px;
		fill: currentColor;
	}

	&.status-locked,
	&.status-not-started &__status {
		opacity: 0.7;
	}

	&.current-lesson &__title {
		font-weight: 700;
	}
}
