.wp-block-sensei-lms-course-theme-course-progress-bar {
	height: var(--header-progress-bar-height, 4px);
	margin: 0;
	width: 100%;

	:first-child {
		height: var(--header-progress-bar-height, 4px);
	}
}

body .is-layout-flow > * + .wp-block-sensei-lms-course-theme-course-progress-bar {
	margin: 0;
}
