.sensei-course-theme-course-progress-bar {
	height: var(--header-progress-bar-height, 4px);
	background-color: var(--border-color);
	margin: 0 !important;
	width: 100%;

	&-inner {
		background-color: currentcolor;
		height: var(--header-progress-bar-height, 4px);
	}

	&.wp-block:not(.has-background) {
		background-color: var(--border-color);
	}
}
