.editor-styles-wrapper .wp-block .wp-block-sensei-lms-exit-course,
.wp-block-sensei-lms-exit-course {
	color: var(--sensei-primary-color);
	font-size: 1rem;
	line-height: 1.1875;
	text-decoration: underline;
}
