.editor-styles-wrapper .wp-block .wp-block-sensei-lms-course-theme-lesson-module,
.wp-block-sensei-lms-course-theme-lesson-module {
	border-left: solid 2px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.2;
	padding-left: 0.5em;
}
