.sensei-course-theme-lesson-video {

  .wp-block-embed, .wp-block-video {
    margin: 0;
  }
  iframe, video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

}
