$breakpoint: 782px;

.sensei-course-theme-lesson-actions {
	display: flex;
	gap: 16px;
	list-style: none;
	width: 100%;

	&__complete-lesson-form {
		padding: 0;
		margin: 0;
	}

	@media screen and (max-width: $breakpoint) {
		justify-content: center;

		 & > * {
			flex: 1;
		 }

		 .sensei-course-theme__button {
			width: 100%; // Fix the animation issue.
			justify-content: center;
		}

	}
}


body .is-layout-flow > * + .sensei-course-theme__actions-wrapper {
	margin-block-start: 40px;
}

.sensei-course-theme__post-pagination {
	display: flex;
}

.wp-block-sensei-lms-page-actions {
	align-items: flex-start;
	column-gap: 40px;
	display: flex;
	.post-page-numbers {
		opacity: 0.6;

		&.current {
			opacity: 1;
		}
	}

	@media screen and (max-width: 782px) {
		justify-content: center;
	}
}
