@import '../colors';

.sensei-course-theme-lesson-module {
	border-left: solid 2px $sensei-module-lesson;
	color: $sensei-module-lesson;
	font-size: 0.875rem;
	line-height: 1.2;
	padding-left: 0.5em;
}
