$breakpoint: 782px;

.sensei-course-theme .sensei-course-theme-lesson-actions,
.editor-styles-wrapper .sensei-course-theme-lesson-actions {
	display: flex;
	gap: 20px;
	list-style: none;

	&__complete-lesson-form {
		padding: 0;
		margin: 0;
	}

	@media screen and (max-width: $breakpoint) {
		justify-content: center;
		width: 100%;

		& > *, .wp-block-button, &__next-lesson {
			flex: 1 1 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

body .is-layout-flow > * + .sensei-course-theme__actions-wrapper {
	margin-block-start: 40px;
}

.sensei-course-theme__post-pagination {
	display: flex;
}

.wp-block-sensei-lms-page-actions {
	align-items: flex-start;
	column-gap: 40px;
	display: flex;
	.post-page-numbers {
		opacity: 0.6;

		&.current {
			opacity: 1;
		}
	}

	@media screen and (max-width: $breakpoint) {
		justify-content: center;
	}
}
