.wp-block-sensei-lms-restricted-toggle {
	min-width: 165px;

	.wp-block-sensei-lms-restricted-toggle-button {
		justify-content: center;
		width: 100%;
	}
}

.wp-block-sensei-lms-restricted-content {
	.components-popover__content {
		border: 1px solid #1e1e1e;
		box-shadow: none;
		min-width: 165px;
	}

	.wp-block-sensei-lms-restricted-content-button {
		width: 100%;
		justify-content: center;
	}
}
