.sensei-upload-page {
	.sensei-upload-file-line {
		display: flex;
		list-style-type: none;
		margin: 0 -24px;
		padding: 0 24px;

		@media (max-width: 783px) {
			display: block;
		}

		&__field-wrapper {
			display: flex;
			flex: 0 0 43%;
			align-items: center;
		}

		&__description {
			flex: 1;
			font-size: 14px;
		}

		&__info {
			display: inline-flex;
		}


		&__delete-button-wrapper {
			flex-shrink: 0;
			display: inline-flex;
			align-items: center;
			overflow: hidden;
			width: 30px;

			.components-button,
			.components-button:disabled:hover {
				color: $gray-30;
				width: 24px;
				height: 24px;
			}

			.woocommerce-spinner {
				width: 20px;
				height: 20px;
				overflow: hidden;
			}
		}

		.components-form-file-upload {
			flex: 0 0 120px;

			.components-button {
				padding: 6px 14px;
				margin: 10px 0;
				border-radius: 3px;
			}
		}
	}

	.sensei-upload-file-line:nth-child(odd) {
		background: $gray-0;
	}
}
