.sensei-upload-page {
	.sensei-upload-file-line {
		width: 100%;
		display: inline-flex;
		list-style-type: none;
		margin: 0 -24px;
		padding: 0 24px;
		height: 62px;

		&__description {
			flex-basis: 25%;
			margin: 18px 0;
			flex-shrink: 0;
		}

		&__delete-button,
		&__delete-button:disabled:hover {
			color: $gray-30;
		}

		&__delete-spinner {
			width: 20px;
			height: 20px;
			margin: 21px 7px;
		}

		.components-form-file-upload {
			flex-basis: 18%;
			flex-shrink: 0;
		}

		.components-button {
			padding: 6px 14px;
			margin: 13px 0;
			border-radius: 3px;
		}
	}

	.sensei-upload-file-line:nth-child(odd) {
		background: $gray-0;
	}
}
