<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__header","className":"sensei-version--4-8-0"} -->
<div class="wp-block-sensei-lms-ui sensei-course-theme__frame sensei-version--4-8-0 sensei-course-theme__header">
	<!-- wp:group {"style":{"spacing":{"padding":{"right":"24px","left":"24px","top":"6px","bottom":"6px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group" style="padding-top:6px;padding-right:24px;padding-bottom:6px;padding-left:24px">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group"><!-- wp:site-logo {"width":50} /-->

			<!-- wp:sensei-lms/course-title /--></div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group">
			<!-- wp:sensei-lms/course-theme-course-progress-counter /-->

			<!-- wp:sensei-lms/exit-course /-->

			<!-- wp:sensei-lms/sidebar-toggle-button /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:sensei-lms/course-theme-course-progress-bar /--></div>
<!-- /wp:sensei-lms/ui -->

<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__columns"} -->
<div class="wp-block-sensei-lms-ui sensei-course-theme__columns">
	<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__sidebar","className":""} -->
	<div class="wp-block-sensei-lms-ui sensei-course-theme__frame sensei-course-theme__sidebar">
		<!-- wp:sensei-lms/course-navigation /-->

		<!-- wp:sensei-lms/spacer-flex -->
		<div class="wp-block-sensei-lms-spacer-flex sensei-course-theme__spacer-flex"></div>
		<!-- /wp:sensei-lms/spacer-flex -->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"12px","bottom":"12px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
		<div class="wp-block-group" style="margin-top:12px;margin-bottom:12px"><!-- wp:sensei-lms/button-contact-teacher -->
			<div
				class="wp-block-sensei-lms-button-contact-teacher is-style-outline wp-block-sensei-button wp-block-button has-text-align-left">
				<a class="wp-block-button__link">Contact Teacher</a></div>
			<!-- /wp:sensei-lms/button-contact-teacher --></div>
		<!-- /wp:group --></div>
	<!-- /wp:sensei-lms/ui -->

	<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__main-content","lock":{"move":false,"remove":false}} -->
	<div class="wp-block-sensei-lms-ui sensei-course-theme__main-content">
		<!-- wp:sensei-lms/course-theme-lesson-module /-->

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:sensei-lms/course-theme-notices /-->

		<!-- wp:post-content /-->

		<!-- wp:spacer {"height":"50px"} -->
		<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
        <div class="wp-block-group"><!-- wp:sensei-lms/page-actions /-->
            <!-- wp:sensei-lms/course-theme-lesson-actions {"options":{"nextLesson":true}} /--></div>
        <!-- /wp:group --></div>
    <!-- /wp:sensei-lms/ui --></div>
<!-- /wp:sensei-lms/ui -->
