<!-- wp:pattern {"slug":"sensei-course-theme/header"} /-->

<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__columns","className":"sensei-version\u002d\u002d4-16-2"} -->
<div class="wp-block-sensei-lms-ui sensei-course-theme__columns sensei-version--4-16-2">
	<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__sidebar","className":""} -->
	<div class="wp-block-sensei-lms-ui sensei-course-theme__frame sensei-course-theme__sidebar">
		<!-- wp:sensei-lms/course-navigation /--></div>
	<!-- /wp:sensei-lms/ui -->

	<!-- wp:sensei-lms/ui {"elementClass":"sensei-course-theme__main-content","lock":{"move":false,"remove":false}} -->
	<div class="wp-block-sensei-lms-ui sensei-course-theme__main-content">
		<!-- wp:sensei-lms/course-theme-lesson-module /-->

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:sensei-lms/course-theme-notices /-->

		<!-- wp:post-content {"layout":{"inherit":true}} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"40px"}}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="margin-top:40px">
			<!-- wp:sensei-lms/page-actions {"style":{"spacing":{"blockGap":"43px"}}} /-->

			<!-- wp:group {"style":{"spacing":{"margin":{"top":"20px"}}},"className":"sensei-lesson-footer","layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group sensei-lesson-footer" style="margin-top:20px">
				<!-- wp:sensei-lms/course-theme-lesson-actions {"options":{"nextLesson":true}} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:sensei-lms/ui -->
</div>
<!-- /wp:sensei-lms/ui -->
