$dark-gray: #1a1d20;
$spacing: 16px;

.wp-block-sensei-lms-course-results,
.editor-styles-wrapper .wp-block-sensei-lms-course-results {
	&__grade {
		margin: auto 0;
		text-align: center;
		width: 100%;

		&__label {
			font-size: 1.1em;
		}

		&__score {
			display: block;
			font-size: 2em;
			font-weight: bold;
			line-height: normal;
		}
	}

	&__title {
		margin: 1em 0 0.5em;
		padding: 0;
		text-align: center;
	}

	&__module {
		margin: 1em 0;

		&__header {
			padding: $spacing;
			font-weight: bold;
			display: flex;
			align-items: center;
			background: var( --sensei-module-header-bg-color );
			color: var( --sensei-module-header-text-color );
		}

		&__bordered {
			border: 1px solid var( --sensei-module-border-color, $dark-gray );
		}

		&__separator {
			display: block;
			border: none;
			height: 4px;
			margin-left: 4px;
			margin-right: 4px;
			background-color: var(
				--sensei-module-header-separator-color,
				$dark-gray
			);
		}

		&__title,
		.wp-block-sensei-lms-course-results &__title {
			font-size: 1.1em;
			font-weight: inherit;
			flex: 1;
			margin: 0;
			color: inherit;
			&::before,
			&::after {
				content: none;
			}
		}
	}

	&__lesson {
		display: flex;
		align-items: center;
		margin: 1px 0;
		position: relative;

		&__title {
			flex: 1;
			padding: $spacing;
		}

		&__score {
			display: inline-block;
			flex: 0 0 40px;
			margin: 0 $spacing;
			flex-shrink: 0;
			opacity: 0.9;
		}
	}
}
