$desktop_min_width: 783px;


// Reset the title bottom padding
.wp-site-blocks :is(h1, h2, h3, h4, h5, h6)  {
	padding-bottom: 0;
}

@media screen and (min-width: $desktop_min_width) {
	:where(.is-layout-flex) {
		gap: 8px;
	}

	.sensei-course-theme__header__info {
		gap:16px;
	}

}
