<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"10px","bottom":"40px"}}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group"
	style="margin-top:10px;margin-bottom:40px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
	<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"}},"color":{"background":"#ffffff"}},"className":"email-notification__wrapper","layout":{"type":"constrained","contentSize":"800px"}} -->
	<div class="wp-block-group email-notification__wrapper has-background"
		style="background-color:#ffffff;margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
		<!-- wp:group {"style":{"color":{"background":"#ffffff"},"spacing":{"padding":{"top":"40px","right":"56px","bottom":"0px","left":"56px"},"margin":{"top":"0px","bottom":"0px"}}},"className":"header email-notification__header","layout":{"type":"default"}} -->
		<div class="wp-block-group header email-notification__header has-background"
			style="background-color:#ffffff;margin-top:0px;margin-bottom:0px;padding-top:40px;padding-right:56px;padding-bottom:0px;padding-left:56px">
			<!-- wp:site-logo {"width":48,"className":"inline-block","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
			<!-- wp:site-title {"textAlign":"left","isLink":false,"style":{"color":{"text":"#101517"},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"#101517"}}},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"inline-block"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-content {"className":"email__wrapper","layout":{"type":"constrained","contentSize":"800px"}} /-->
		<!-- wp:pattern {"slug":"sensei-lms/email-footer"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
