@media screen and (max-width: ($breakpoint - 1)) {
	body {
		--sensei-lm-sidebar-width: 0px;
	}

	.sensei-course-theme {
		&--sidebar-open {
			--sensei-lm-header-height: 90px;
			overflow: hidden;

			.sensei-course-theme__header__container {
				padding-bottom: var(--header-open-height);
				height: var(--sensei-lm-header-height);
			}

			.sensei-course-theme-course-progress-bar {
				margin: 0 24px;
			}

			.sensei-course-theme__header .sensei-course-theme-course-progress {
				display: block;
				position: absolute;
				left: 24px;
				top: calc(var(--sensei-lm-header-height) - 36px);
			}

			.sensei-course-theme-course-progress-bar {
				height: 8px;
				position: absolute;
				top: calc(var(--sensei-lm-header-height) - 12px);
				margin: 0;
				left: 24px;
				right: 24px;
			}
		}

		&__header {
			&__container {
				align-items: flex-start !important;
				padding-top: 12px;
				overflow: hidden;
			}

			.sensei-course-theme-course-progress, .sensei-course-theme-prev-next-lesson-text {
				display: none;
			}

			.sensei-course-theme-prev-next-lesson-a {
				padding: 2px;
			}

			&__left {
				gap: 12px;
				height: 30px;
			}

			&__navigation {
				gap: 12px;
				height: 30px;
			}
		}

		&__sidebar__content {
			padding: 0;
		}

		&__sidebar {
			width: unset !important;
			margin: 0 !important;
		}

		&__main-content {
			flex: 1 !important;
			margin-left: 0 !important;
		}


		// Floating lesson actions footer.

		&-lesson-actions {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--sensei-background-color);
			box-shadow: 0px 3px 30px rgba(25, 30, 35, 0.2);
			transition: bottom 800ms ease-in;

			padding: 12px !important;
			display: flex;
			gap: 12px;
			align-items: center;

			> * {
				flex: 1;
			}

			button {
				width: 100%;
			}

			&.lesson-completed {
				display: none;
			}
		}

		&--sidebar-open &-lesson-actions {
			transition: bottom 300ms 0ms;
			bottom: -30vh;
		}

		&.scroll-down &-lesson-actions {
			transition-delay: 200ms;
			bottom: -100px;
		}

		&.scroll-bottom &-lesson-actions {
			bottom: 0;
		}
	}

	body {
		padding-bottom: 140px;
	}
}
