$block: '.sensei-lms-question-block';

@import '../answer-blocks/option-toggle';

.sensei-lms-question-block {

	$answer-box-color: #333;
	$answer-box-color: #333;

	.editor-styles-wrapper .wp-block &__title, .editor-styles-wrapper .wp-block &__index {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.25;
	}

	&__index {
		position: absolute;
		right: 100%;
		text-align: right;
		top: 0;
		font-weight: bold;

		#{$block}.is-draft & {
			opacity: .62;
		}

		.editor-styles-wrapper .wp-block & {
			margin-right: 10px;
		}
	}

	&__type-selector {

		&__popover .sensei-toolbar-dropdown__option {
			padding: 12px;
		}

		&__option__description {
			color: #757575;
			font-size: 90%;
		}
	}

	&__text-input-placeholder {
		border: 2px solid $answer-box-color;
		border-radius: 2px;
		padding: 5px;
		min-height: 52px;

		&.multi-line {
			min-height: 250px;
		}

		&.rich-text {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 0;

				right: 0;
				top: 40px;
				margin: 2px;
				height: 2px;
				border-radius: 1px;
				background: $answer-box-color;
			}
		}
	}

	&__input-label {
		color: #444;
	}

	&__answer--multiple-choice, &__answer--true-false {
		.editor-styles-wrapper & {
			margin: 28px 0;
			padding: 0;

			li {
				list-style: none;
			}
		}
	}

	&__answer--true-false {
		display: flex;

		#{$block}__option-toggle {
			margin-right: 24px;

			&__control {
				margin-right: 12px;
			}
		}
	}

	&__multiple-choice-answer-opion {
		display: flex;
		margin: 12px 0;

		&__input {
			flex: 1;

			.editor-styles-wrapper & {
				margin: 0;
			}

			&:focus {
				box-shadow: none;
				border-color: transparent;
			}
		}

		&__hint {
			text-transform: uppercase;
			color: #757575;
			font-size: 14px;
			font-family: sans-serif;
			margin-right: 2px;
			margin-left: 12px;
			margin-top: -2px;
		}
	}


}
