@import '../answer-blocks/option-toggle';
@import '~@wordpress/base-styles/breakpoints';

/**
 * Sensei question and question block styles shared between frontend and editor.
 */

$question-input-border-color: var(--wp--preset--color--foreground, var(--sensei-secondary-color, #949494) );

.wp-block-sensei-lms-question-description {
	margin-bottom: 20px;
	*:last-child {
		margin-bottom: 0;
	}
}

.wp-block-sensei-lms-quiz {
	.wp-block-sensei-lms-quiz-question {
		margin-top: clamp(3.75rem, 2.596rem + 3.846vw, 5rem);
	}

	.sensei-lms-question-block__title {
		flex-grow: 1;
	    line-height:1;
		textarea {
			display: block;
			padding: 0;
			margin: 0;
		}
	}
	.sensei-lms-question-block__header {
		margin-bottom: clamp(1.25rem, 0.096rem + 3.846vw, 2.5rem);
		padding: 0;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		line-height: 1;

		.sensei-lms-question-block__title {
			textarea {
				font-size: inherit;
			}
		}

		.question-title {
			margin: 0;
			padding: 0;
		}

		.grade {
			line-height: 1;
		}
	}
	.submitted_file {
		margin-bottom: 20px;
	}

	.submitted_image_file {
		max-height: 480px;
		margin-bottom: 20px;
	}
}

.wp-block-sensei-lms-question-answers {
	color: inherit;

	li:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.wp-editor-wrap {
		& * {
			background: transparent;
		}
	}

	input {
		color: inherit;
	}

	input[type="text"]:not(.components-form-token-field__input) {
		border: 0px;
		border-bottom: 1px solid $question-input-border-color;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
		padding: 0;
		&:focus-visible {
			outline: none;
		}
	}
	input[type="text"]:not(.gapfill-answer-gap) {
		width: 100%;
		@media (min-width: $break-small) {
			width: 490px;
		}
	}

	.wp-editor-container {
		border: 1px solid $question-input-border-color;
	}

	input[type=file]::file-selector-button {
		border: 1px solid $question-input-border-color;
		background-color: transparent;
	}

	.max_upload_size {
		margin-top: 20px;
	}
}

.sensei-lms-question__answer-feedback {
	--color: #DCDCDE;
	$horizontal-padding: 24px;
	border: 1px solid var(--color);
	border-radius: 1px;
	margin: 12px auto;

	&--correct {
		--color: #B8E6BF;
		--icon: '\f058';
	}

	&--incorrect {
		--color: #F7DCC6;
		--icon: '\f057';
	}

	&.empty {
		--color: #DCDCDE;
	}

	&__header {
		display: flex;
		padding: 6px $horizontal-padding;
		background: var(--color);
		font-size: 80%;
		align-items: center;
	}
	&__title {
		flex: 1;
	}

	&__points {
		font-weight: bold;
	}

	&__content {
		padding: 12px $horizontal-padding;
	}

	&__correct-answer {
		.highlight {
			background: var(--color);
			padding: 5px;
			border-radius: 2px;
		}
	}

	&__correct-answer + &__answer-notes {
		border-top: 1px solid  var(--color);
		margin-top: 12px;
		padding-top: 12px;
	}

	&__answer-notes {
		.entry-content & > *:last-child {
			margin-bottom: 0;
		}
	}

	&__icon:after {
		content: var(--icon);
		font-family: FontAwesomeSensei, FontAwesome, sans-serif;
		margin-right: 6px;
	}

}
