.sensei-lms-question-block__grade-toolbar {
	input[type=number] {
		align-self: center;
		width: 42px;
		height: 32px;
		min-height: 0;
		padding: 2px;
		margin: 0 12px;
		background: none;
		border-width: 1px;
		&:not(:focus) {
			border-color: currentColor;
		}
		border-radius: 2px;
		outline: none;
		text-align: center;
		font-weight: bold;
	}
}