
$breakpoint: 783px;

body {
	--primary-color: var(--sensei-course-theme-primary-color, var(--wp--preset--color--primary, #307771));
	--bg-color: var(--sensei-course-theme-background-color, var(--wp--preset--color--background, #FFFFFF));
	--primary-contrast-color: var(--bg-color);
	--text-color: var(--sensei-course-theme-foreground-color, var(--wp--preset--color--text, #1E1E1E));
	--border-color: rgba(125, 125, 125, 0.3);

	background-color: var(--bg-color);
	color: var(--text-color);
}

.sensei-course-theme__frame {

	--wp--style--block-gap: 0px;
	box-sizing: border-box;

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover, a:hover * {
		color: var(--primary-color);
		fill: var(--primary-color);
		cursor: pointer;
		background: none;
	}

	button:hover {
		cursor: pointer;
	}

	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5;
	letter-spacing: normal;

	* {
		font-family: 'Inter', sans-serif;
	}

}
