.sensei-course-theme__frame {
	a, button {
		&:focus {
			outline: none;
		}

		&:focus-visible {
			transition: none;
			outline: dashed 1px var(--sensei-primary-color);
		}
	}
}

.sensei-course-theme__button,
.sensei-course-theme .wp-block-button,
.sensei-course-theme__button[type=submit],
.sensei-course-theme__button[type=button] {
	.wp-block-button__link {
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		background-color: inherit !important;
		color: inherit !important;
		text-transform: unset;

		&:hover {
			background-color: inherit !important;
			color: inherit !important;
			text-decoration: none !important;
		}
	}

	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: normal;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	background: transparent;
	text-transform: unset;
	border: none;
	padding: 0;
	margin: 0;
	border-radius: 2px;
	text-decoration: none !important;

	&.is-primary,
	&.is-secondary,
	&.is-link,
	&.wp-block-button > .wp-block-button__link {
		padding: 8px 11px;
		font-weight: 700;
		text-decoration: none;
		border-radius: 2px;
	}

	&.is-primary,
	&.is-secondary,
	&.wp-block-button > .wp-block-button__link {
		border: solid 1px var(--sensei-primary-color);
	}

	&.wp-block-button {
		padding: 0;

		.wp-block-button__link {
			padding: 8px 11px;
			display: block;

			&:focus {
				outline: dashed 1px var(--sensei-primary-color);
				margin: -1px;
				padding: 9px 12px;
			}
		}
	}

	&.is-primary,
	&.wp-block-button:not(.is-style-outline, .is-style-link) {
		&:not(:hover) {
			background-color: var(--sensei-primary-color) !important;
			color: var(--sensei-primary-contrast-color);
		}

		&:hover {
			color: var(--sensei-primary-color);
			background: none;
		}
	}

	&.is-secondary,
	&.wp-block-button.is-style-outline {
		color: var(--sensei-primary-color);
		--wp--custom--button--border--color: var(--sensei-primary-color);

		&:hover {
			background-color: var(--sensei-primary-color) !important;
			color: var(--sensei-primary-contrast-color);

			.wp-block-button__link {
				border-color: var(--sensei-primary-color);
			}
		}
	}


	&.is-link {
		font-weight: 600;
		text-decoration: underline !important;
		background: none !important;
		color: inherit !important;

		&:hover {
			color: var(--sensei-primary-color) !important;
		}
	}

	&[aria-disabled='true'],
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: not-allowed;
	}

	&.is-completed.is-primary {
		opacity: 0.8;
		color: var(--bg-color) !important;
		background: var(--text-color) !important;
		border-color: var(--text-color) !important;
	}

	&.is-completed.is-secondary {
		opacity: 0.8;
		color: var(--text-color) !important;
		border-color: var(--text-color) !important;
	}

	&.is-busy {
		background-image: linear-gradient(
				-45deg,
				rgba(255, 255, 255, 0.5) 28%,
				rgba(255, 255, 255, 0.1) 28%,
				rgba(255, 255, 255, 0.1) 72%,
				rgba(255, 255, 255, 0.5) 72%
		);
		animation: components-button__busy-animation 25000ms infinite linear;

		&:disabled {
			cursor: not-allowed;
		}
	}
}

.sensei-course-theme .wp-block-buttons {
	display: flex;
	align-items: center;
	gap: 12px;
}

.sensei-course-theme__button,
.sensei-course-theme__link {
	&.has-icon {
		display: flex;
		gap: 4px;
		align-items: center;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
