.sensei-course-theme {
	&__button {
		display: inline-block;
		font-size: 14px;
		cursor: pointer;

		&.is-primary,
		&.is-secondary {
			padding: 8px 11px;
			border: solid 1px var(--primary-color);
			font-weight: 700;
			text-decoration: none;
			border-radius: 2px;
		}

		&.is-primary {
			background-color: var(--primary-color);
			color: var(--primary-contrast-color);
			&:hover {
				color: var(--primary-color);
				background: none;
			}
		}

		&.is-secondary {
			color: var(--primary-color);
			&:hover {
				background-color: var(--primary-color);
				color: var(--primary-contrast-color);
			}
		}

		&.is-link {
			color: var(--primary-color);
			&:hover {
				text-decoration: underline;
			}
		}

		&[aria-disabled="true"],
		&:disabled {
			opacity: 0.4;
			pointer-events: none;
			cursor: not-allowed;
		}
	}
}
