
.sensei-course-theme .wp-block-buttons {
	display: flex;
	align-items: center;
	gap: 12px;
}

.sensei-course-theme__button,
.sensei-course-theme__link {
	&.has-icon {
		display: flex;
		gap: 8px;
		align-items: center;
		white-space: nowrap;
		width: 100%;
		justify-content: center;

		svg {
			width: 16px;
			height: 16px;
		}
	}
}
