body {
	// Try to pick up global styles, customizer or theme colors.
	--sensei-background-color: var(--sensei-background-color-global, var(--sensei-course-theme-background-color, var(--wp--preset--color--background, #FFFFFF)));
	--sensei-button-hover-color: #F0F0F0;
	--sensei-lesson-meta-color:  #787C82;
	--sensei-module-lesson-color: #101517;
	--sensei-primary-color: var(--sensei-primary-color-global, var(--sensei-course-theme-primary-color, var(--wp--preset--color--primary, #155E65)));
	--sensei-primary-contrast-color: var(--sensei-background-color, #FFFFFF);
	--sensei-secondary-color: #43AF99;
	--sensei-text-color: var(--sensei-text-color-global, var(--sensei-course-theme-foreground-color, var(--wp--preset--color--text, var(--wp--preset--color--foreground, #1E1E1E))));
}
