.sensei-course-theme-contact-teacher {
	&__button {
		box-sizing: border-box;
		border: 1px solid #000;
		border-radius: 2px;
		padding: 11px;
		width: 100%;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		&:hover {
			border: 1px solid #000;
			background-color: #f9f9f9;
		}
	}

	&__modal {
		&__container {
			padding: 30px 40px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			max-width: 100%;
		}

		&__close {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 15px;
			right: 15px;
			padding: 0;
			background-color: transparent;
			border: none;
			&:hover {
				background-color: transparent;
			}
			line-height: 24px;
			width: 24px;
			height: 24px;
			svg {
				width: 14px;
				height: 14px;
			}
		}


	}

	&__form {
		&__title {
			display: block;
			font-size: 24px;
			line-height: 30px;
			font-weight: 700;
			padding-right: 20px;
			margin-bottom: 60px;
		}

		&__message {
			display: block;
			margin-bottom: 20px;
			border: 1px solid #757575;
			border-radius: 2px;
			padding: 10px;
			resize: both;
			box-sizing: border-box;
			width: 400px;
			max-width: 100%;

			&:disabled {
				opacity: 0.5;
			}
		}
	}

	&__success {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			svg {
				width: 42px;
				height: 42px;
				circle {
					stroke: var(--primary-color);
					stroke-width: 2;
				}
			}
		}

		&__title {
			font-size: 24px;
			line-height: 120%;
		}
	}
}



/**
 * Modal styles
 */
.ReactModal__Overlay {
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 120ms ease-out;
	display: flex;
	justify-content: center;
	align-items: center;

	&--after-open {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.ReactModal__Content {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 94%;
	background-color: #fff;
	transform: translate(-50%, -40%);
	transition: transform 120ms ease-out;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
	&--after-open {
		transform: translate(-50%, -50%);
	}
}
