@import './blockbase-ponyfill';

.sensei-course-theme {
	&__main-content {

		> * {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}

		.alignfull {
			margin-left: calc( -1 * var(--content-padding));
			margin-right: calc( -1 * var(--content-padding));
			max-width: unset;
			width: auto;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

