
body {
	--wp--custom--form--color--background: var(--bg-color);
	--wp--custom--form--border--width: 1.5px;
	--wp--custom--form--border--style: solid;
	--wp--custom--form--border--color: var(--text-color);
	--wp--custom--form--border--radius: 2px;
	--wp--custom--form--color--text: inherit;
	--wp--custom--form--padding: 6px 8px;
	--wp--custom--list--spacing--padding--left: 16px;
	--wp--custom--layout--content-size: 900px;
	--wp--custom--layout--wide-size: 1100px;
}

.wp-block-post-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	color: var(--primary-color);
}

input, textarea {
	font-size: inherit;
}

::selection {
	background-color: var(--primary-color);
	color: var(--primary-contrast-color);
}

.sensei-course-theme {
	&__main-content__container {
		> *:not(.alignfull) {
			max-width: var(--wp--custom--layout--content-size);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__main-content__container .wp-block-group__inner-container {
		max-width: unset;
		> *:not(.alignfull) {
			max-width: var(--wp--custom--layout--content-size);
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__main-content .entry-content, &__main-content__container, &__main-content .entry-content .alignfull {
		max-width: unset;
		width: unset;
		margin-left: 0;
		margin-right: 0;
	}
}

.entry-content {
	--wp--custom--gap--horizontal: var(--content-padding);
	--wp--custom--gap--vertical: 12px;

	> *:not(.alignfull) {
		max-width: var(--wp--custom--layout--content-size);
		margin-left: auto;
		margin-right: auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}


