.sensei-course-theme-course-progress-bar {
	height: var(--header-progress-bar-height);
	background-color: var(--border-color);
	margin: 0 !important;
}

.sensei-course-theme-course-progress-bar-inner {
	height: 100%;
	background-color: var(--primary-color);
}
