@import  '../learning-mode.scss';

.wp-block.sensei-course-theme {
	&__header, &__sidebar {
		position: relative;
		top: unset;
		left: unset;
		right: unset;
		bottom: unset;
	}

	&__columns {
		display: flex;
		height: 100%;
		margin: 0 !important;
	}

	&__main-content, &__main-content__container, &__sidebar ~ &__main-content {
		margin: 0 auto !important;
	}

	&__header ~ &__columns {
		height: calc(100vh - var(--sensei-lm-header-height));
	}

	&__header + * {
		margin-top: unset !important;
	}

}

.wp-block-post-content {
	padding: 12px 0;
}

input, textarea {
	border: none;
	padding: 0;
}

.sensei-course-theme__button {
	pointer-events: none;

	&:hover {
		cursor: default;
	}
}
