body {
	padding: 8px;
	--wp--custom--gap--baseline: 0.5em;
}

.wp-block {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks {
	.wp-block {
		max-width: none;
		margin: 0;
	}

}


.wp-block.sensei-course-theme {
	&__sidebar {
		position: static;
	}
	&__columns {
		display: flex;
	}
	&__main-content {
		margin-left: auto !important;
	}
	&__main-content__container {
		margin: 0!important;
		> *:not(.alignfull), .wp-block-post-content.alignfull {
			max-width: var(--wp--custom--layout--content-size) !important;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.wp-block-post-content {
	padding: 12px 0;
}

.wp-block-post-title {
	font-size: 48px!important;
}

input, textarea {
	border: none;
	padding: 0;
}

.sensei-course-theme__button {
	pointer-events: none;
	&:hover {
		cursor: default;
	}
}
