.wp-block {
	max-width: none;
	margin: 0;
}

.wp-block.sensei-course-theme {
	&__sidebar {
		position: static;
	}
	&__columns {
		display: flex;
	}
	&__main-content {
		margin-left: 0 !important;
		> * {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
	}

}

.sensei-course-theme__button {
	pointer-events: none;
	&:hover {
		cursor: default;
	}
}
