$min_desktop_width: 783px;

.sensei-course-theme {
	&__columns {
		display: flow-root;
	}
}

// Desktop
@media screen and (min-width: ($min_desktop_width)) {
	.sensei-course-theme {
		--sensei-lm-sidebar-width: 312px;

		&__columns &__sidebar {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: var(--sensei-lm-sidebar-width);
			border-right: 1px solid var(--border-color);
			background-color: var(--sensei-background-color);
			overflow: auto;
			overscroll-behavior: contain;
			display: flex;
			flex-direction: column;
			padding: 32px 24px;
		}

		&__header ~ &__columns &__sidebar {
			top: var(--full-header-height) !important;
		}

		&__columns &__main-content ~ &__sidebar {
			left: unset;
			right: 0;
			border-right: unset;
			border-left: 1px solid var(--border-color);
		}

		&__columns &__main-content {
			padding: 32px 0;
			margin-right: var(--sensei-lm-sidebar-width) !important;

			// A Divi fix since it doesn't load Gutenberg block library styles.
			@at-root {
				.et_pb_pagebuilder_layout & {
					flex: 1;
				}
			}
		}

		&__columns &__sidebar ~ &__main-content {
			margin-right: unset ! important;
			margin-left: var(--sensei-lm-sidebar-width)  !important;
		}

	}
}
