$base: '.sensei-course-theme';

@media screen and (min-width: $breakpoint ) {
	.sensei-course-theme__focus-mode-toggle {
		.sensei-course-theme--focus-mode & {
			position: absolute;
			left: 20px;
		}
		padding: 4px;
		white-space: nowrap;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 12px;
		border: none;
		background: none;

		&__disable {
			display: none;
		}

		.sensei-course-theme__focus-mode-toggle-icon {
			width: 10px;
			height: 10px;
			transform: rotate(180deg);
		}
	}

	.sensei-course-theme--focus-mode {
		--header-height: 45px;

		.sensei-course-theme {
			&__header {
				&__container {
					height: 39px;
					overflow: hidden;
				}
				.sensei-course-theme-course-progress, .sensei-course-theme-prev-next-lesson-text {
					display: none;
				}
				.wp-block-site-logo {
					margin-right: -12px;
					img {
						max-height: 0;
					}
				}
				.wp-block-sensei-lms-course-title {
					font-size: 16px;
				}
				.sensei-course-theme-course-progress-bar {
					height: 6px;
				}
				.sensei-course-theme__button {
					font-size: 12px;
					padding: 3px 8px;
					font-weight: 700;
				}
			}

			&__sidebar {
				left: -400px;
				overflow: visible;
			}
			&__main-content {
				margin-left: 0 !important;
			}
			&__focus-mode-toggle {
				top: 5px;
				left: 428px;
				flex-direction: row;
				&__enable {
					display: none;
				}
				&__disable {
					display: revert;
				}
				.sensei-course-theme__focus-mode-toggle-icon {
					transform: none;
				}
			}
		}
		&--animated {
			@media screen and (prefers-reduced-motion: no-preference) {
				* {
					transition: all 300ms ease-out;
				}
			}
		}
	}
}
