$base: '.sensei-course-theme';

@media screen and (min-width: $breakpoint ) {
	.sensei-course-theme__focus-mode-toggle {
		padding: 4px;
		border: none;
		background-color: transparent;

		&__label {
			position: absolute;
			top: -99999px;

			&--disable {
				display: none;
			}
		}

		.sensei-course-theme__focus-mode-toggle-icon {
			width: 10px;
			height: 10px;
			transform: rotate(270deg);
		}
	}

	.sensei-course-theme--focus-mode {
		--header-height: 45px;

		.sensei-course-theme {
			&__header {
				&__container {
					height: 39px;
					overflow: hidden;
				}
				.wp-block-site-logo, .sensei-course-theme-course-progress, .sensei-course-theme-prev-next-lesson-text {
					display: none;
				}
				.wp-block-sensei-lms-course-title {
					font-size: 16px;
				}
				.sensei-course-theme-course-progress-bar {
					height: 6px;
				}
				.sensei-course-theme__button {
					font-size: 12px;
					padding: 3px 8px;
					font-weight: 700;
				}
			}

			&__sidebar {
				left: -400px;
				overflow: visible;
			}
			&__main-content {
				margin-left: 0 !important;
			}
			&__focus-mode-toggle {
				.sensei-course-theme__focus-mode-toggle-icon {
					transform: rotate(90deg);
				}
			}
		}
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	.sensei-course-theme--focus-mode--animated {
		* {
			transition: all 300ms ease-out;
		}
	}
}