.sensei-course-theme__header {
	.wp-block-sensei-lms-course-title {
		a:not(:hover) {
			color: currentColor;
		}
		font-size: 24px;
		font-weight: 600;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.wp-block-site-logo {
		img {
			width: auto;
			height: auto;
			max-height: 50px;
		}
	}

	.sensei-course-theme-course-progress {
		color: var(--gray);

	}
}

