:root {
	--header-height: var(--focus-header-height, 75px);
	--sidebar-width: 300px;
	--top-offset: 0px;
	--content-padding: 32px;
	--full-header-height: calc(var(--header-height) + var(--top-offset));
}

body {
	background-color: var(--bg-color);
}

.sensei-course-theme {

	@at-root body.admin-bar {
		--top-offset: var(--wp-admin--admin-bar--height, 32px);
	}

	background-color: var(--bg-color);

	&__columns, &__header {
		margin: 0 !important;
	}

	&__header {
		margin: 0;
		position: sticky;
		top: var(--top-offset);
		background-color: var(--bg-color);
		z-index: 100;
	}

	&__sidebar {
		position: fixed;
		top: var(--full-header-height);
		bottom: 0;
		left: 0;
		width: var(--sidebar-width);
		border-right: 1px solid var(--border-color);
		background-color: var(--bg-color);
		overflow: auto;
		overscroll-behavior: contain;
		display: flex;
		flex-direction: column;

		&__content, &__footer {
			margin: 0;
			padding: 24px;
			padding-right: 16px;
			padding-bottom: 12px;
		}

		&__content {
			flex: 1;
		}
		&__footer {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;
		}
	}

	&__main-content {
		padding: var(--content-padding);
		margin-left: var(--sidebar-width) !important;
	}

	&__header {
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			padding: 0 24px;
			margin: 0;
			gap: 24px;
			height: calc(var(--header-height) - 10px);
		}

		&__left {
			display: flex;
			align-items: center;
			gap: 24px;
			flex: 1 0 auto!important;
		}

		&__navigation {
			display: flex;
			align-items: center;
			gap: 24px;
			flex: 0 0 auto!important;
		}
	}

	&__actions {
		flex: 0 0 auto!important;

	}
}
