.sensei-course-theme {

	--header-height: 75px;
	--sidebar-width: 300px;
	--top-offset: 0px;
	--content-padding: 32px;

	@at-root body.admin-bar {
		--top-offset: 32px;
	}

	background-color: #fff;

	&__columns, &__header {
		margin: 0 !important;
	}

	&__header {
		margin: 0;
		position: sticky;
		top: var(--top-offset);
		background-color: #fff;
		z-index: 100;
	}

	&__sidebar {
		position: fixed;
		top: calc(var(--header-height) + var(--top-offset));
		bottom: 0;
		left: 0;
		width: var(--sidebar-width);
		border-right: 1px solid #ccc;
		padding: 24px;
		padding-right: 16px;
		background-color: #fff;
	}

	&__main-content {
		margin-left: var(--sidebar-width) !important;
	}

	&__header {
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 24px;
			margin: 0 !important;
			gap: 24px;
			height: calc(var(--header-height) - 10px);
		}

		&__left {
			display: flex;
			align-items: center;
			gap: 24px;
		}

		&__right {
			display: flex;
			align-items: center;
			gap: 24px;
		}

		&__container:not(.is-not-stacked-on-mobile) > &__left {
			flex: 1;
		}

		&__container:not(.is-not-stacked-on-mobile) > &__right {

			flex: 0 0 auto;
		}
	}
}
