:root {
	--header-height: var(--focus-header-height, 75px);
	--sidebar-width: 300px;
	--content-padding: 32px;
}

body {
	background-color: var(--bg-color);
}

.wp-site-blocks {
	// This var needs to be in another level because we update the `--header-height` in the body.
	--full-header-height: calc(var(--header-height) + var(--sensei-wpadminbar-offset));
}

.sensei-course-theme__frame {

	.wp-block-group__inner-container {
		display: inherit;
		flex: 1;
		align-items: inherit;
		justify-content: inherit;
		flex-wrap: inherit;
		flex-direction: inherit;
		gap: inherit;
	}

	.sensei-block-wrapper {
		margin: 0;
	}
}

.sensei-course-theme {
	background-color: var(--bg-color);

	&__columns, &__header {
		margin: 0 !important;
	}

	&__header {
		margin: 0;
		position: sticky;
		top: var(--sensei-wpadminbar-offset);
		background-color: var(--bg-color);
		z-index: 100;
	}

	&__sidebar {
		position: fixed;
		top: var(--full-header-height);
		bottom: 0;
		left: 0;
		width: var(--sidebar-width);
		border-right: 1px solid var(--border-color);
		background-color: var(--bg-color);
		overflow: auto;
		overscroll-behavior: contain;
		display: flex;
		flex-direction: column;

		&__content, &__footer {
			margin: 0;
			padding: 24px;
			padding-right: 16px;
			padding-bottom: 12px;
		}

		&__content {
			flex: 1;
		}
		&__footer {
			gap: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 12px;

		}
	}

	&__main-content {
		padding: var(--content-padding);
		margin-left: var(--sidebar-width) !important;
	}

	&__header {
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			padding: 0 24px;
			margin: 0;
			gap: 24px;
			height: calc(var(--header-height) - 10px);
		}

		&__left {
			display: flex;
			align-items: center;
			gap: 24px;
			flex: 1 1 auto !important;
		}

		&__navigation {
			display: flex;
			align-items: center;
			gap: 24px;

			// Override style from block-library.
			&.wp-block-column:not(:only-child) {
				flex: 0 0 auto !important;
			}
		}
	}

	&__actions {
		flex: 0 0 auto !important;
	}

}
