.sensei-course-theme-lesson-actions {
	display: flex;
	gap: 12px;
	padding: 0;
	margin: 0;
	list-style: none;

	&__complete-lesson-form {
		padding: 0;
		margin: 0;
	}
}

.sensei-course-theme__post-pagination {
	margin-top: 36px;
	margin-bottom: 36px;

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 12px;

}
