.sensei-course-theme-lesson-module {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-style: normal;
	display: block;
}
