@media screen and (max-width: ($breakpoint - 1)) {

	.sensei-course-theme__focus-mode-toggle {
		display: none;
	}

	.sensei-course-theme-lesson-completion-notice {
		left: 0;
	}


	@media screen and (max-width: ($breakpoint - 1)) {

		.sensei-course-theme__focus-mode-toggle {
			display: none;
		}

		.sensei-course-theme-lesson-completion-notice {
			left: 0;
		}

		.sensei-course-theme {
			--content-padding: 18px;
			--header-height: 60px;

			&__header {
				transition: none !important;
				display: flex;
				flex-direction: column;
				> *:first-child {
					flex: 1;
				}

				.sensei-course-theme-prev-next-lesson-text {
					display: none;
				}

				.sensei-course-theme-prev-next-lesson-a {
					padding: 2px;
				}

				img {
					max-height: 30px;
					width: auto;
				}

				a, img {
					margin: 0;
				}

				.wp-block-sensei-lms-course-title {
					font-size: 14px;
				}

			}



			&__header {
				.sensei-course-theme-course-progress {
					display: none;
				}
			}

			&--sidebar-open {
				--header-height: 90px;
				overflow: hidden;

				.sensei-course-theme__header .sensei-course-theme-course-progress {
					display: block;
					position: absolute;
					left: 24px;
					top: calc(var(--full-header-height) - 52px);
				}

				.sensei-course-theme__header .sensei-course-theme-course-progress-bar {
					height: 8px;
					position: absolute;
					top: calc(var(--full-header-height) - 32px);
					margin: 0;
					left: 24px;
					right: 24px;
				}
			}


			// Floating lesson actions footer.

			&-lesson-actions {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				background: var(--bg-color);
				box-shadow: 0px 3px 30px rgba(25, 30, 35, 0.2);
				transition: bottom 800ms ease-in;

				padding: 12px !important;
				display: flex;
				gap: 12px;
				align-items: center;

				> * {
					flex: 1;
				}

				button {
					width: 100%;
				}
			}

			&--sidebar-open &-lesson-actions {
				transition: bottom 300ms 0ms;
				bottom: -30vh;
			}

			&.scroll-down &-lesson-actions {
				transition-delay: 200ms;
				bottom: -100px;
			}

			&.scroll-bottom &-lesson-actions {
				bottom: 0;
			}
		}
	}

	body {
		padding-bottom: 140px;
	}
}