.sensei-course-theme-module-title {
	font-family: 'Inter', sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
}
