.sensei-course-theme-prev-next-lesson-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.sensei-course-theme-prev-next-lesson-a {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	&:nth-child(2) {
		margin-left: 27px;
	}
	&:hover {
		text-decoration: underline;
	}
	svg {
		height: 11px;
	}
	&__prev {
		svg {
			margin-right: 14px;
		}
	}
	&__next {
		svg {
			margin-left: 14px;
		}
	}
}
