.sensei-course-theme-prev-next-lesson {
	&-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

    &-a {
		span {
			font-size: 14px;
			line-height: 17px;
			color: #000;
		}
		&:hover span {
			color: var(--primary-color);
			text-decoration: underline;
		}

		&:nth-child( 2 ) {
			margin-left: 27px;
		}

		svg {
			height: 11px;
			path {
				fill: transparent;
				stroke: #000;
				stroke-width: 1.5;
			}
		}

		&:hover svg {
			path {
				fill: transparent;
				stroke: var(--primary-color);
			}
		}

		&__prev {
			svg {
				margin-right: 14px;
			}
		}

		&__next {
			svg {
				margin-left: 14px;
			}
		}
	}
}
