/**
 * Variables
 */
$tablet-breakpoint: 768px;

@import '~@wordpress/base-styles/breakpoints';
@import '../../shared/blocks/progress-bar/progress-bar';

.sensei-course-theme__quiz {
	&__main-content {
		margin-bottom: 100px !important;
		padding-top: clamp(2.5rem, 1.346rem + 3.846vw, 3.75rem);

		.wp-block-post-title {
			margin-top: clamp(1.688rem, 0.534rem + 3.846vw, 2.938rem);
		}

		.sensei-lms-quiz-back-to-lesson {
			display: flex;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
			}

			/* The gap between the arrow and the text for mobile and smaller screens */
			gap: 8px;

			@media (min-width: $break-medium) {
				/* The gap between the arrow and the text for Desktop */
				gap: 4px;
			}
		}

		> * {
			display: block;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__header, &__footer {
		padding: 24px;

		margin: 0 auto;
		max-width: 1200px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

	}

	&__footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		max-width: var(--content-size);
		margin: 0 auto;
		padding: 24px 0;

		&__wrapper {
			margin: 0 !important;
			display: block;
		}

		.wp-block-group__inner-container {
			margin: unset;
			width: 100%;
		}

		.sensei-quiz-actions {
			width: 100%;

			.sensei-quiz-actions-secondary {

				.sensei-quiz-action {
					.button, button {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.sensei-quiz-pagination {
			flex: 1;
			margin: 0;

			&__list {
				margin-right: auto;
			}

			.sensei-quiz-pagination__list ul.page-numbers {
				gap: 1rem;
			}
		}
	}
}

.sensei-course-theme.quiz {
	form {
		ol#sensei-quiz-list {

			input[type=radio],
			input[type=checkbox] + label:before {
				border: 1px solid #949494;
				width: 20px;
				height: 20px;
				background-color: #FFF;
			}

			input[type=radio],
			.sensei-lms-question-block__option-toggle__control
			{
				appearance: none;
				border-radius: 50%;
				background-clip: content-box;
			}

			input[type="radio"]:checked {
				border: 6px solid var(--wp--preset--color--foreground, var(--sensei-secondary-color, #949494) );
			}

			input[type="checkbox"] {
				display: none;
			}

			input[type="checkbox"] + label {
				display: flex;
				align-items: center;
				gap: 10px;
			}

			input[type="checkbox"] + label:before {
				content: "\00a0";
				display: flex;
				font-size: 1.1rem;
				justify-content: center;
				align-items: center;
				padding: 0;
				vertical-align: center;
				border-radius: 2px;
				margin-right: var(--wp--custom--comment-gap-small);
			}

			input[type="checkbox"]:checked + label:before {
				color: white;
				font-family: dashicons;
				content: "\f15e";
				text-align: center;
				background-color: var(--wp--preset--color--foreground, var(--sensei-secondary-color, #949494) );
			}
		}
	}
}

[class*="__inner-container"] {
	.sensei-course-theme__quiz__footer {
		max-width: var(--content-size);
	}
}

@media only screen and (min-width: $tablet-breakpoint) {
	.sensei-course-theme__quiz {
		&__footer {
			&__wrapper {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 100;
				background-color: var(--sensei-background-color);
			}

			.sensei-quiz-actions {
				flex-direction: row;

				.sensei-quiz-action {
					flex: unset;
				}

				.sensei-quiz-actions-secondary {
					flex-direction: row;
				}
			}

			.sensei-quiz-pagination {
				.sensei-quiz-actions {
					flex-direction: row;
				}
			}
		}
	}
}

.sensei-lms-quiz-back-to-lesson {
	font-size: 14px;
	text-decoration: none;
}

.sensei-progress-bar {
	&__bar {
		height: 12px;
		background-color: var(--border-color);
	}

	&__progress {
		background-color: var(--sensei-primary-color);
	}
}
