.sensei-course-theme-quiz-graded-notice {
	/* --content-padding comes from mobile.scss */
	margin-left: calc(var(--content-padding) * -1);
	margin-right: calc(var(--content-padding) * -1);
	padding-bottom: 36px;

	@media (min-width: $break-medium) {
		margin-left: 0;
		margin-right: 0;
	}

	&__title {
		margin: 0;
	}

	&__text {
		margin: 0 0 20px;
	}

	&__actions {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media (min-width: $break-medium) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__reset-quiz-form {
		margin-bottom: 0;

		.sensei-course-theme__button {
			background-color: transparent;
			border: none;
			color: inherit;
			font-family: var(--wp--preset--font-family--body-font);
			font-size: 18px;
		}
	}
}
