/* This file loads for all themes except Course. */

@import '~@wordpress/base-styles/breakpoints';

.sensei-course-theme__quiz {
	&__main-content {
		.wp-block-post-title {
			margin-bottom: 3.75rem;

			@media (min-width: $break-medium) {
				margin-bottom: 2.5rem;
			}
		}

		.sensei-lms-quiz-back-to-lesson {
			color: inherit;
		}
	}
}

.wp-block-sensei-lms-question-answers {
	& * {
		font-size: 1.125rem;
	}
}

.quiz {
	form {
		ol#sensei-quiz-list {
			li {
				.wp-block-sensei-lms-question-answers,
				.wp-block-sensei-lms-question-description {
					font-size: 1.125rem;
				}

				h2 {
					font-size: clamp(1.5rem, 0.808rem + 2.308vw, 2.25rem);
					font-weight: 400;
				}

				> .question-title {
					display: block;
					margin: 0 0 1em;
					font-weight: 400;

					> span {
						font-size: clamp(1rem, 0.538rem + 1.538vw, 1.5rem);
					}
				}
			}
		}
	}
}
