.sensei-course-theme-quiz-graded-notice {
	padding-bottom: 36px;

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
	}

	&__text {
		font-size: 18px;
		line-height: 1.6;
		margin: 0 0 20px;
	}

	&__actions {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media (min-width: $break-medium) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__reset-quiz-form {
		margin-bottom: 0;

		.sensei-course-theme__button {
			background-color: transparent;
			border: none;
			color: inherit;
			font-family: var(--wp--preset--font-family--body-font);
			font-size: 18px;
		}
	}
}
