.sensei-course-theme__frame {
	// Reset theme CSS.
	* {
		all: unset;
		display: revert;
	}

	/**
	 * Theme-specific resets.
	 */

	/**
	 * Twenty Twenty, Twenty Twenty One
	 */
	&.sensei-course-theme__header > .wp-block-group__inner-container > * {
		max-width: unset !important;
		width: unset !important;
		margin: unset !important;
	}

	button {
		background: none;
	}
}