.sensei-course-theme__frame {
	// Reset theme CSS.
	* {
		all: unset;
		display: revert;
	}

	/**
	 * Theme-specific resets.
	 */

	/**
	 * Twenty Twenty, Twenty Twenty One
	 */


	button {
		background: none;
	}
}