@import 'fonts';

@import 'prev-next-lesson';
@import 'quiz-back-to-lesson';

.sensei-course-theme {

	--gray: #787C82;
	--font-family: 'Inter', sans-serif;

	background-color: #fff;

	&__header,
	&__sidebar {
		font-family: var(--font-family);
	}
}
