@import './blockbase-ponyfill';
@import './global-styles';

input, textarea {
	font-size: inherit;
}

::selection {
	background-color: var(--sensei-primary-color);
	color: var(--sensei-primary-contrast-color);
}

.sensei-course-theme {
	&__main-content {
		padding: var(--content-padding);

		.alignfull:not(.entry-content) {
			margin-left: calc(-1 * var(--content-padding));
			margin-right: calc(-1 * var(--content-padding));
		}
	}
}
