.sensei-setup-wizard {
	&__welcome-step {
		display: flex;
		flex-direction: column;
		max-width: 560px;
		height: 100%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
