name: E2E Playwright

on: pull_request

env:
    CI: true

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    test:
        name: E2E Tests
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Updates the npm version
              run: npm install -g npm@8.9.0

            - name: Install dependencies
              run: npm ci

            - name: Build assets
              run: npm run build:assets

            - name: Install Playwright
              run: npx playwright install --with-deps

            - name: Start wp-env
              run: npm run wp-env start

            - name: Run Playwright tests
              run: CI=true npm run test:e2e

            - name: Archive report
              uses: actions/upload-artifact@v2
              if: failure()
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
                  if-no-files-found: ignore
