$core-grey-light-500: #e2e4e7;

@mixin placeholder() {
	animation: loading-fade 1.2s ease-in-out infinite;
	background-color: $core-grey-light-500 !important;
	color: transparent;
	border: 0;
	box-shadow: none;

	&::after {
		content: "\00a0";
	}

	@media screen and (prefers-reduced-motion: reduce) {
		animation: none;
	}
}

.message-container {
	&.is-fetching {
		a.message-link {
			text-decoration: none;
		}

		h3 {
			@include placeholder();
		}

		.message-excerpt {
			@include placeholder();
			margin-bottom: 2.5em;
		}
	}
}
