.sensei-setup-wizard {
	&__progress-bar {
		height: 8px;
		min-height: 8px; // Fixes issue that progress bar disappears with scroll.
		background-color: #ffffff;
	}

	&__progress-bar-filled {
		background-color: #000000;
		height: 100%;
		transition: 0.5s width;
	}
}
